[2018-06-25 13:33] mickaelistria opened #2 "Interaction with Eclipse WTP.XML"
I see as part of this project tries to implement it's own parser. I think it's a really hard task from short to long term!
Have you consider re-using Eclipse WTP parser or some other parser (like the one used by IntelliJ) to build the server upon?

[2018-06-25 13:40] angelozerr commented on #2
Indeed, it's the hard part of language server. But I'm confident because this parser is a port of HTML Language Service parser written in TypeScript by Microsoft.

I have tried but it's so very hard, because the parser is linked to SSE structure which requires several dependencies. I have not found a very good tolerant XML parser with location which is light and works good.

[2018-06-25 13:48] mickaelistria commented on #2
The SSE structure

[2018-06-25 13:49] mickaelistria commented on #2
Ok. I guess it is

[2018-06-25 15:05] apupier opened #3 "Support completion provided by xsd"
it would be nice to have the completion based on the xsd (and maybe also on a DTD? or is too old?)

[2018-06-25 15:05] apupier opened #4 "Provide validation based on an xsd"

[2018-06-25 16:39] angelozerr commented on #3
Yes sure, but it's an long task.

WTP/XML Editor uses CMModel interfaces to manages XSD, DTD both if I remember. WTP/XML Editor uses org.eclipse.xsd for that which is based on EMF to manage completion, etc I think it's not very light.

I think we should use Xerces XSModel to load the Schema and manage compeltion on this model.

[2018-06-25 16:40] angelozerr commented on #4
Indeed.  https://github.com/microclimate-devops/xml-language-server/tree/master/server/xml-server seems doing that.

[2018-06-27 19:21] NikolasKomonen opened #5 "Parser doesn't consider CDATA"
It looks like the parser does not handle CDATA, I'm currently working on implementing this. Let me know if there is anything you would like to discuss.

[2018-06-28 08:07] angelozerr commented on #5
Indeed, the parser is a copy/paste of vscode html language service translated in Java code. And html doesn't requires CDATA. This parser requires a lot of clean like remove Scripts, Styles token type from https://github.com/angelozerr/xml-languageserver/blob/master/org.eclipse.xml.languageserver/src/main/java/org/eclipse/xml/languageserver/internal/parser/TokenType.java and add CDATA token type.

[2018-06-28 08:38] apupier commented on #5
@angelozerr can you create issues for the things that you already identified that needs to be cleaned/implemented please?
I think it could help to have contributions

[2018-06-28 10:42] angelozerr commented on #5
You totally right @apupier! My project it just a POC, but it seems you are interesting to contribute, I need to clarify issues, clean, etc

[2018-06-28 13:33] mickaelistria opened #6 "Use another package name than `org.eclipse.xml`"
The package name is `org.eclipse.xml...`. Typical Eclipse projects use an `org.eclipse.<projectName>` as root package. To avoid necessary further refactoring when moving to Eclipse.org, we should consider deciding of a projectName already and adopt this in package name asap.

[2018-06-28 15:02] angelozerr commented on #6
What about **org.eclipse.lsp4xml** ?

[2018-06-28 15:05] mickaelistria commented on #6
no objection here.

[2018-06-28 15:12] angelozerr commented on #6
@fbricon @apupier @NikolasKomonen what do you think about this name? Other suggestions?

[2018-06-28 16:01] angelozerr opened #7 "Add JUnit for tolerant XMLParser"
Add JUnit for tolerant XMLParser

@NikolasKomonen please follow this issue to track JUnit that I will do. Once I will push my work, please give me feedback to know if you will like tests and do the same thing for CDATA https://github.com/angelozerr/xml-languageserver/issues/5

[2018-06-29 04:45] angelozerr commented on #7
@NikolasKomonen @fbricon I have created test for XML Parser at https://github.com/angelozerr/xml-languageserver/blob/master/org.eclipse.xml.languageserver/src/test/java/org/eclipse/xml/languageserver/internal/parser/XMLParserTest.java

My goal is to have test which are easy to read, that's why I'm using String. I have adapted test of HTML language service parser https://github.com/Microsoft/vscode

[2018-06-29 06:12] angelozerr opened #8 "[Request] Document Formatting"
It should be nice to have a formatting XML support. Format should be done:

 * for the whole XML document
 * for selected content of XML document

There are 2 strategies to do that:

 * use standard XML Outputformat. It's the easy mean but it requires that XML is well done.
 * use the XMLDocument instance created by the tolerant XML parser. IMHO I think it's the better mean, but it's more hard. WT

[2018-06-29 06:40] angelozerr commented on #8
@NikolasKomonen  I have just initialize the formatter that iy can now implement. You can see quicly https://github.com/Microsoft/vscode-html-languageservice/blob/master/src/services/htmlFormatter.ts which uses beautify.

[2018-06-29 07:14] angelozerr opened #9 "[Request] Document Symbols"

[2018-06-29 07:15] angelozerr opened #10 "[Request] Auto Complete Tags"

[2018-06-29 07:16] angelozerr opened #11 "[Request] Document Highlight"

[2018-06-29 07:16] angelozerr opened #12 "[Request] Document Hover"
Support hover over
- [x] Tag
- [x] Attributes
- [ ] Values

[2018-07-02 16:18] angelozerr commented on #3
A lot of things to fix, improve but open of completion starts working (with pom.xml) case:

![image](https://user-images.githubusercontent.com/1932211/42174974-4a2181fe-7e24-11e8-99fd-07dec7f84445.png)

[2018-07-03 08:05] angelozerr commented on #8
@NikolasKomonen @fbricon I'm doing a big refactoring to clean API. Please wait my push before working on some issues. Sorry for that -(

[2018-07-03 15:41] NikolasKomonen commented on #7
@angelozerr I like the structure but I think the format could be changed to make it easier to find issues when they appear. Right now when errors are reported they are not always easily located especially if a larger XML document with a  children are tested or there are multiple errors.

What I think we could do is instead compare individual values through inside a function where we pass (Node toT

[2018-07-04 05:10] angelozerr commented on #6
@fbricon @apupier @NikolasKomonen could you give me your opinion please. I would like change package names. Thanks!

[2018-07-04 16:36] angelozerr commented on #6
Done I have refactor the project with `org.eclipse.lsp4xml`

[2018-07-04 16:36] #6 closed

[2018-07-04 16:37] angelozerr commented on #11
This feature is implemented. I need to add tests.

[2018-07-04 17:00] #11 closed

[2018-07-04 17:01] angelozerr commented on #9
This feature is implemented. I need to add tests.

[2018-07-05 00:34] NikolasKomonen commented on #6
@angelozerr sorry I havent replied to anything, these notifications are
delayed for me for some reason. Otherwise, everything looks great!

On Wed, Jul 4, 2018 at 12:36 PM Angelo <notifications@github.com> wrote:

[2018-07-05 03:58] angelozerr commented on #6
No problem @NikolasKomonen ! Glad this name pleases you. Please note that I have sent you an invitation to become a collaborator.

[2018-07-09 18:25] fbricon opened #19 "Don't log to System.err/out"
... or call exception.printStackTrace();

stdio is used to exchange messages with the client. Logging to standard streams will break the client/server communication.

Either log messages via a logging facade (slf4j?) to a log file, and/or log messages to the client

[2018-07-17 16:57] NikolasKomonen commented on #10
Need to check if the current editor supports snippets at eg: `item.setInsertTextFormat(InsertTextFormat.Snippet)`

[2018-07-22 21:58] angelozerr commented on #19
Totally agree with you @fbricon! IMHO I think we should use an existing logger API like:

 * http://www.vogella.com/tutorials/Logging/article.html which doesn't require some dependencies
 * sl4j which requires a new dependencies.

Perhaps http://www.vogella.com/tutorials/Logging/article.html  is enough for lsp4xml case?

[2018-07-23 10:18] angelozerr opened #23 "Add VSCode client in README"
@NikolasKomonen please add a link to your VSCode client project which consumes lsp4xml in README https://github.com/angelozerr/lsp4xml#clients

Thanks!

[2018-07-23 11:03] angelozerr commented on #3
To do that we need to create DTDDocument, etc like XSD https://github.com/angelozerr/lsp4xml/tree/master/extensions/org.eclipse.lsp4xml.contentmodel/src/main/java/org/eclipse/lsp4xml/contentmodel/xsd which implements CMDocument  (same idea than WTP)

[2018-07-23 11:07] angelozerr commented on #4
It starts working, but a lot of features to implement again like

 * manage better start/end location for error (because XSD validation from xerces manages just a start position and not a range)
 * cache XML Schema, because for the moment, the XML Schema is loaded each time you type something. But there is not freeze because publish diagnostics is done in async mode. To fix that, I think XML catal

[2018-07-24 18:54] #23 closed

[2018-07-24 18:55] #5 closed

[2018-07-24 18:57] NikolasKomonen commented on #9
@angelozerr Can this be closed now?

[2018-07-24 20:14] angelozerr commented on #9
Yes sure, thanks @NikolasKomonen for your PR.

[2018-07-24 20:14] #9 closed

[2018-07-24 20:30] NikolasKomonen opened #29 "XMLScanner Tests"

[2018-07-24 20:31] NikolasKomonen commented on #29
Working on it.

[2018-07-24 20:41] angelozerr commented on #29
Very cool! My idea was to similar test than https://github.com/Microsoft/vscode-html-languageservice/blob/master/src/test/scanner.test.ts

[2018-07-24 21:45] angelozerr opened #30 "Completion settings"
Add completion settings (like client snippet support) when completion is done.

[2018-07-24 21:50] angelozerr commented on #30
@NikolasKomonen please note now you have completion setttings filled by client capabilities to check if client support snippet for instance. Tell me if you like this new API.

[2018-07-24 23:29] NikolasKomonen commented on #29
Great, my implementation is similar to this. I'll look into what seems best and use these cases. Thanks.

[2018-07-24 23:34] #30 closed

[2018-07-24 23:35] angelozerr commented on #8
This issue requires tests. @NikolasKomonen do you want to work on this issue?

[2018-07-24 23:39] angelozerr commented on #7
Tests are covered by https://github.com/angelozerr/lsp4xml/pull/17

Tanks @NikolasKomonen !

[2018-07-24 23:39] #7 closed

[2018-07-24 23:40] angelozerr commented on #29
That's cool. @NikolasKomonen please add (see #29) in your commit to reference this issue.

[2018-07-24 23:45] angelozerr opened #31 "XML Parser should take care of XML prolog"
XML Parser should take care of XML prolog

[code]

[2018-07-25 01:32] #31 closed

[2018-07-25 23:00] #29 closed

[2018-07-26 10:15] angelozerr opened #33 "Use message properties"
Use message properties to define error message.

[2018-07-26 10:27] angelozerr opened #34 "Basic XML validation for no well XML"
I don't know if it's an hard task, but I tell me if we could use our XML scanner to validate XML files for no well XML (XML which doesn't end an element tag, etc).

Today, I'm using Xerces to do that, but the main problem is that SAXParserException contains only a start line/character and not the end.

I have studied WTP XML validator and they do like this:

 * validate XML file with their interna

[2018-07-26 10:40] angelozerr opened #35 "Add support for `textDocument/foldingRange`"
Add support for `textDocument/foldingRange`, which allows editors to provide folding support (for code XML tag). See LSP proposal: https://github.com/Microsoft/vscode-languageserver-protocol-foldingprovider/blob/master/protocol.foldingProvider.md

https://microsoft.github.io/language-server-protocol/specification#textDocument_foldingRange

It requires upstream lsp4j implementation: eclipse/lsp4j#1

[2018-07-26 15:36] NikolasKomonen commented on #34
This is a good idea, just to be sure would you want to modify the XMLScanner to also do basic validation and take over the responsibility of XMLDiagnostics?

[2018-07-26 15:41] angelozerr commented on #34
no just use it.

[2018-07-26 15:57] angelozerr commented on #35
@NikolasKomonen I have implemented folding support by using internal lsp4j folding classes https://github.com/angelozerr/lsp4xml/tree/master/org.eclipse.lsp4xml/src/main/java/toremove/org/eclipse/lsp4j that we will remove it once lsp4j will provide it.

I have posted the question at https://github.com/eclipse/lsp4j/issues/216 to set the server capabilities as folding and after (I hope) you could u

[2018-07-26 16:09] angelozerr opened #36 "Split XMLDocument into XMLDocument and TextDocument"
XMLDocument provides usefull method like `Position positionAt(int position)`. Some support (like folding, format) doesn't requires the use of XML node, so we parse XML document although we don't need it.

The idea of this issue is to have 2 structures:

 * a TextDocument which provides positionAt, etc
 * XMLDocument which maintains Node structure (and could be initalized with TextDocument to keep

[2018-07-26 17:08] #36 closed

[2018-07-26 20:30] angelozerr commented on #19
Guys, your idea with config file to customize log (client, file, etc) looks very promising. Once you will implement it, please update the wiki https://github.com/angelozerr/lsp4xml/wiki/Configuration#logging that I have initialized. Thanks!

[2018-07-26 20:32] angelozerr opened #37 "Add support for `textDocument/rename`"
Rename an XML tag name.

[2018-07-26 21:35] angelozerr opened #38 "XML Catalog support"

[2018-07-27 17:31] NikolasKomonen commented on #34
@angelozerr are you already working on implementing the XMLScanner to report errors?

[2018-07-27 17:32] NikolasKomonen opened #39 "Logger Tests"

[2018-07-29 08:29] angelozerr commented on #34
No, but my idea is to loop for XMLScanner tokens and check if token is a good token (ex : after start tag element, you need a tag element, etc) like https://github.com/eclipse/webtools.sourceediting/blob/master/xml/bundles/org.eclipse.wst.xml.core/src-validation/org/eclipse/wst/xml/core/internal/validation/StreamingMarkupValidator.java seems doing.

Do you want work on this issue?

[2018-07-30 13:10] NikolasKomonen commented on #34
@angelozerr yeah, is that fine?

[2018-08-02 18:18] NikolasKomonen opened #40 "End Extension on Timeout"
Create a way to end the server extension process if the IDE stops responding.

[2018-08-02 18:30] angelozerr commented on #40
What is your suggestion?

[2018-08-02 18:31] NikolasKomonen commented on #40
I was talking with Fred, he suggested a timeout after the server stops receiving responses from the client. It will be similar to JDT LS and how they do it.

[2018-08-03 14:14] NikolasKomonen commented on #34
@angelozerr Hi, I found that with the current implementation of the XMLParser and XMLScanner certain cases eg:

 `<tag key="value" </tag>`

would not recognise the start tag as incomplete while other IDE's like intellij do.

Right now the XMLScanner will continue reading until it hits the '>' of the end tag. I'm planning on modifying the Scanner to consider this case and possibly other cases I fin

[2018-08-03 22:47] angelozerr commented on #34
Great!

Today the scanner behaviour is the  same than vscode html language service. So I was confident.

To be honnest with you, I'm a little scare to change it because scanner is used a lot (in completion, etc), but as we have several JUnit I think you can try to refactor it. But please add the more JUnit that you can write.

[2018-08-04 01:51] NikolasKomonen commented on #34
You are right, it does effect some other parts (In parser, but I fixed it).
I'll experiment and see how much it disturbs other parts of the code.

On Fri, Aug 3, 2018 at 6:47 PM Angelo <notifications@github.com> wrote:

[2018-08-06 09:34] angelozerr opened #41 "Emmet Extension"
It should be cool if we could have Emmet support by providing a new  Emmet Extension like it exists for teh vscode html language server:

![emmetdemo](https://user-images.githubusercontent.com/1932211/43709270-a8ddef80-996c-11e8-8d43-f54293bc1768.gif)

Guys, it's just an idea, please vote if you like it. Thanks!

[2018-08-06 16:30] angelozerr commented on #10
@NikolasKomonen I have started to write more test for completion and clean compeltion participant API (not finished). To tests that I have created the JUNit https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/test/java/org/eclipse/lsp4xml/services/HTMLCompletionExtensionsTest.java which has the same test than vscode html language service. To test HTML tags, I have created `HT

[2018-08-07 06:47] angelozerr commented on #37
Done, here a demo:

![xmlrenamedemo](https://user-images.githubusercontent.com/1932211/43759079-74281060-9a1e-11e8-9609-169a211cc1d4.gif)

See wiki at https://github.com/angelozerr/lsp4xml/wiki/Features#rename

[2018-08-07 06:47] #37 closed

[2018-08-07 06:49] angelozerr commented on #40
If I rememeber I have done that, but I will follow your PR.

[2018-08-07 06:55] angelozerr commented on #11
Done:

![xmlhighlightdemo](https://user-images.githubusercontent.com/1932211/43759479-acedb7fa-9a1f-11e8-9b8a-9db2bbb8d732.gif)

See wiki at https://github.com/angelozerr/lsp4xml/wiki/Features#highlight

[2018-08-07 07:01] angelozerr commented on #9
Done:

![xmldocumentsymbolsinoutline](https://user-images.githubusercontent.com/1932211/43759743-7a2a0656-9a20-11e8-8233-5f797b262f1e.png)

See wiki at https://github.com/angelozerr/lsp4xml/wiki/Features#document-symbols

[2018-08-07 14:20] fbricon commented on #40
@angelozerr currently the server only forces System.exit after calling the `exit` command. If the client died before that, or for whatever other reason, the server might still be alive indefinitely after the client is gone.
The idea here is to check if the parent PID is still running after the server is idle for more than a given time. If it's not, then the serve will commit seppuku in an honorabl

[2018-08-07 14:25] angelozerr commented on #40
Thanks @fbricon for the clarification!

[2018-08-07 15:29] fbricon commented on #39
Please use Mockito

[2018-08-07 19:32] NikolasKomonen opened #43 "Non XML Prologs not considered in Scanner"
JDT-LS uses `<?m2e execute onConfiguration?>` and this is not recognized in XMLScanner

[2018-08-07 20:14] angelozerr commented on #43
Indeed XML Scanner & XMLDocument must take care of prolog. We can see the problem when you format a XML file, the uprolog disapear.

@NikolasKomonen I affect you the issue (if you don't want to work on it, please tell me). It should be cool if you could fix too the format of XML with prolog and add tests. Thanks!

[2018-08-07 20:16] angelozerr commented on #8
@NikolasKomonen is there any chance that you work on test and fix bug with prolog https://github.com/angelozerr/lsp4xml/issues/43#issuecomment-411187148

[2018-08-07 20:59] NikolasKomonen commented on #8
@angelozerr For sure, Ill work on [#43](https://github.com/angelozerr/lsp4xml/issues/43#issuecomment-411187148) and make sure this works with it.

[2018-08-07 21:41] angelozerr commented on #8
Cool, thanks!

[2018-08-09 14:17] NikolasKomonen opened #45 "Scanner does not handle unclosed tags well"
If a tag is not properly closed eg `<tag </tag>` the scanner will not be smart enough to recognise the start of a new tag.

The scanner should search for the closing tag, while also checking if it sees a new opening tag.
This will be helpful since it will indicate and un-closed tag to every service that uses the Scanner and will prevent incorrect Node structures, Incorrect Document Validations, Fo

[2018-08-09 14:17] NikolasKomonen commented on #45
@angelozerr I will implement this for now, and we can test it later with your implementations of the services.

[2018-08-09 14:26] angelozerr commented on #45
@NikolasKomonen I have already commited my tests. So if you changed pass tests, we will able to merge your work.

[2018-08-09 14:30] apupier commented on #41
just take care that nashorn has been deprecated and is planned to be removed from the JVM, see http://openjdk.java.net/jeps/335

[2018-08-09 14:48] angelozerr commented on #41
Thanks @apupier for the info! I was aware of that -( I had in mind to manage several JS engine (Nashorn, Rhino, Node.js etc) but we will that in the future.

[2018-08-09 14:57] angelozerr opened #46 "LoggerTest fails on Windows OS"
In Windows OS, when I execute it, I have this error:

[code]

@fbricon @NikolasKomonen could you fix this problem please? It seems that date are hard coded in the JUnit test. Thanks!

[2018-08-09 16:05] NikolasKomonen opened #48 "Test Large Files for Performance"

[2018-08-09 16:10] angelozerr commented on #48
Have you some trouble with large file?

[2018-08-09 16:13] angelozerr commented on #46
Sorry I have now the problem:
[code]

[2018-08-09 16:15] fbricon commented on #48
not necessarily yet, but we need to think about setting up performance tests, once all the major features are complete

[2018-08-09 16:18] fbricon commented on #46
this is a different problem. My guess is line ending comparison is the culprit. I believe the test expects hard-coded `\n`, instead of using the system line delimiter

[2018-08-09 16:20] angelozerr commented on #46
Yes I think it is that.

[2018-08-09 16:24] angelozerr commented on #48
If there is performance problem with big file, I think vscode html language service will have the same problem since XMLDocument is rebuild each time you type some content inside editor (TextDocumentSyncKind.Full).

I think to improve performance, TextDocumentSyncKind.Incremental should be used, but I think it's an hard thing to do.

[2018-08-09 17:00] fbricon commented on #48
@angelozerr whatever performance the vscode html has, since the xml parser starts to deviate from it (in many ways), we might see a different behaviour, better or worse.
I'm not saying we need to improve the performance now, just that we need to keep track of it eventually. What matters now is to provide correct results. Worry about performance later.

[2018-08-09 17:43] angelozerr commented on #41
Sad I don't like the idea -( My first idea was to translate the emmet expand/extract abbreviation in Java, but I have gave up the idea because it's a long task and we will not benefit from the fix/improve of emmet work.

It was one reason why I wanted to do extension:)

[2018-08-09 19:26] #46 closed

[2018-08-10 02:18] angelozerr opened #50 "Enable ClientLogHandler with param"
Today ClientLogHandler is every time enabled. I don't know if it is the wished behaviour.

If we see the code of LogHelper, the initializationObject  cannot be never null (empty but not null)
[code]

So the following code which enable )ClientHandler is done evry time.
[code]

To fix that, I think we should:

 * check like this:

`		if(newLanguageClient == null || initializationObject == null || in

[2018-08-10 13:20] angelozerr commented on #50
A new idea that I have is to manage log configuration with JSON like this:

[code]

instead of using flat properties.

We could imagine to add another params for each plugin like:

[code]

What do you think about this idea?

[2018-08-10 14:43] NikolasKomonen commented on #50
@angelo I made your recommended changes to the Logge. Also this is a good idea for the properties, I can work on this if you want.

[2018-08-10 14:45] angelozerr commented on #50
Yes please, thanks

[2018-08-10 14:48] fbricon commented on #50
see jdt.ls and how server preferences  are sent through initialization options
- https://github.com/eclipse/eclipse.jdt.ls/wiki/Running-the-JAVA-LS-server-from-the-command-line#initialize-request (see InitializationOptions.settings)

those settings are the same as those sent through didConfigurationChange. Ask @snjeza for more info if you need

[2018-08-10 14:49] NikolasKomonen commented on #50
@fbricon alright I'll look into it, thanks

[2018-08-10 14:52] angelozerr commented on #50
Indeed it was the idea that I had (do like jdt.ls). The main difference is that there is plugin extension. We need to add a plugin section with a Map. For instance in my case I need to configure catalog files for the contentmodel plugin.

[2018-08-11 08:25] angelozerr commented on #35
This issue is finished. We need just replace "todelet" lsp4j folding with  eclipse/lsp4j#216.

Folding is done on tag element and #region. See wiki at https://github.com/angelozerr/lsp4xml/wiki/Features#folding

[2018-08-11 10:36] angelozerr opened #53 "Use lsp4j (0.5?) folding classes"
Today folding uses custom lsp4j classes https://github.com/angelozerr/lsp4xml/tree/master/org.eclipse.lsp4xml/src/main/java/toremove/org/eclipse/lsp4j

Once https://github.com/eclipse/lsp4j/issues/169 will be implemented, use thoses folding classes.

[2018-08-11 10:37] angelozerr commented on #35
I close this issue, for official lsp4j folding classes, see https://github.com/angelozerr/lsp4xml/issues/53

[2018-08-11 10:37] #35 closed

[2018-08-11 10:38] angelozerr commented on #48
Totally agree with you. Thanks for creating this issue.

[2018-08-11 10:40] angelozerr opened #54 "Add completion for comment and #region"
Add completion for comment and #region (to fold custom content https://github.com/angelozerr/lsp4xml/wiki/Features#folding)

[2018-08-11 12:05] angelozerr opened #55 "Add support for `textDocument/codelens` for XML Schema types"
Add support for codelens https://microsoft.github.io/language-server-protocol/specification#textDocument_codeLens for extension.

Here a screenshot with XSD types references

![image](https://user-images.githubusercontent.com/1932211/60182121-ef71ca00-9823-11e9-8f91-f2b44c2b67eb.png)

[2018-08-11 12:09] angelozerr opened #56 "Add support for `textDocument/documentLink`"
Add support for `textDocument/documentLink` https://microsoft.github.io/language-server-protocol/specification#textDocument_documentLink for extension.

One extension for web (web.xml) could manage hyperlink for welcome-file to open it:

[code]

One extension for String could manage hyperlink for class to open the Java class:

[code]

[2018-08-11 12:14] angelozerr opened #57 "Add support for `textDocument/codeAction`"
Add support for `textDocument/codeAction` https://microsoft.github.io/language-server-protocol/specification#textDocument_codeAction :

 * to provide quick fix to close a tag which is not closed
 * for extension

[2018-08-11 12:20] angelozerr opened #58 "Add support for `textDocument/references` for XML Schema types"
Add support for `textDocument/references` https://microsoft.github.io/language-server-protocol/specification#textDocument_references for extension

One extension for XSD could find the references of xs:complexType  (references by xs:element, etc) :

[code]

A Find References did in the "Model" of txs:complexType shoudl return xs:element

Here a references demo with XMLSchema.xsd

![XSDReferenceDem

[2018-08-11 13:13] angelozerr commented on #50
@NikolasKomonen  I'm waiting for your work to have a config class (like jdt.ls) to configure catalog  https://github.com/angelozerr/lsp4xml/issues/38 Once you will commit your work, I will add plugin & catalog section in your class config.

[2018-08-13 12:56] NikolasKomonen commented on #50
@angelozerr  Right now I'm working on other things, I can get to it in the next few days.

[2018-08-13 13:06] angelozerr commented on #50
No pb @NikolasKomonen I will implement this issue.

[2018-08-14 10:37] angelozerr commented on #34
@NikolasKomonen I have not finished my work, but it starts working well. The last part is to adjust range position from the SAX error, because it gives you just one offset (not start/end offset).

I have started to implement that at https://github.com/angelozerr/lsp4xml/blob/master/extensions/org.eclipse.lsp4xml.contentmodel/src/main/java/org/eclipse/lsp4xml/contentmodel/participants/diagnostics/L

[2018-08-14 10:44] angelozerr commented on #34
Here a sample of adjust that I have managed:

![image](https://user-images.githubusercontent.com/1932211/44087303-b36730e8-9fbf-11e8-9cca-419442a19137.png)

You can see that the whole tag name is highlighted and not just one character.

[2018-08-14 15:06] NikolasKomonen commented on #34
@angelozerr I've been working on the basic validation, will you new Validation be replacing this? Also I'll start working on tests for the link you gave.

[2018-08-14 15:12] angelozerr commented on #34
Great!

I think we can have the same result than your work but I'm not sure about performance?

[2018-08-14 21:03] NikolasKomonen commented on #34
@angelozerr How did you configure you extension diagnostics, doExtensionsDiagnostics() is being called in doDiagnostics() but extensionsRegistry.getDiagnosticsParticipants() is returning an empty list

[2018-08-14 22:03] angelozerr commented on #34
With SPI in https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/services/extensions/XMLExtensionsRegistry.java#L70 by using  https://github.com/angelozerr/lsp4xml/tree/master/extensions/org.eclipse.lsp4xml.contentmodel/src/main/resources/META-INF/services which must be in your classpath (your JAR). Please note that the all JAR doesn't contains ex

[2018-08-15 07:44] angelozerr commented on #50
@NikolasKomonen let me implement this issue please. I would like to avoid using Map for settings. I'm experimenting something otherwise I will do like you.

[2018-08-17 14:35] #50 closed

[2018-08-17 15:23] #19 closed, assigned to NikolasKomonen

[2018-08-18 11:08] angelozerr opened #67 "Give more settings for Format"
It should be cool to give the capability to customize formatting. We need to collect which settings we need and implement the formatting with thoses settings.

Here settings for WTP/XML Editor:

![image](https://user-images.githubusercontent.com/1932211/44298666-6165b280-a2e7-11e8-8902-fb1417934bb8.png)

Here the HTML formatting option for  vscode html language service https://github.com/Microsoft

[2018-08-18 11:09] angelozerr commented on #8
I close this issue since https://github.com/NikolasKomonen/xml-languageserver/commit/eba46be2e32ae89205d41b838633d453abf3c692 fixes the prolog formatti,g problem.

Thanks @NikolasKomonen ! Please see https://github.com/angelozerr/lsp4xml/issues/67 to give settings for format.

[2018-08-18 11:09] #8 closed

[2018-08-18 11:09] angelozerr commented on #43
@NikolasKomonen can we close this issue?

[2018-08-18 11:10] angelozerr commented on #39
@NikolasKomonen is there any chance that you use Mockito like @fbricon suggest you?

[2018-08-18 11:26] angelozerr commented on #8
Here a demo:

![](https://github.com/angelozerr/lsp4xml/wiki/images/XMLFormattingDemo.gif)

See wiki at https://github.com/angelozerr/lsp4xml/wiki/Features#format for more information

[2018-08-18 15:35] #41 closed

[2018-08-18 15:37] angelozerr opened #68 "Emmet completion based on XML Schema"
Ex: for Spring file, open completion provides

`bean>property`

[2018-08-18 15:38] angelozerr opened #69 "Configure emmet tabs...?"
Configure emmet tabs (and other settings?)

[2018-08-18 16:28] angelozerr commented on #40
@fbricon @nNikolasKomonen I have tried to implement your issue in https://github.com/angelozerr/lsp4xml/commit/05496c3a62689b5d4f1746e48bb36845c838c781 Please tell me if it's OK and close the issue in this case. Thanks!

[2018-08-20 12:50] NikolasKomonen commented on #43
@angelozerr yeah, I'll close it.

[2018-08-20 13:15] NikolasKomonen commented on #67
@angelozerr sure, I'll start on it

[2018-08-20 13:16] NikolasKomonen commented on #39
@angelozerr yeah, I will eventually use it. This current implementation is temporary.

[2018-08-20 13:17] angelozerr commented on #67
Thanks @NikolasKomonen but before starting develop something, please clarify which preferences you wish to support (by seeing samples that I have given below).

[2018-08-20 14:00] NikolasKomonen commented on #67
@angelozerr I will implement all the options on the Eclipse editor settings in the image you sent. After I will look and see if anything else should be added.

[2018-08-20 14:04] angelozerr commented on #67
And what about VSCode HTML Language Service?

[code]

[2018-08-20 21:46] angelozerr opened #70 "Move xsd validation/completion extension to core"

[2018-08-20 23:00] #70 closed

[2018-08-20 23:58] angelozerr opened #71 "Adjust range for XML syntax errors"
@NikolasKomonen if you wish to work on adjust range for XML syntax errors, please do that in https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/contentmodel/participants/diagnostics/XMLSyntaxErrorCode.java

You can find XML Syntax/Schema error code list at https://wiki.xmldation.com/Support/Validator/. You must filter thoses codes and keep just

[2018-08-20 23:59] angelozerr opened #72 "Adjust range for XML schema errors"

[2018-08-21 00:14] #34 closed, assigned to NikolasKomonen

[2018-08-21 00:15] angelozerr opened #73 "Improve performance of validation by caching XML Schema grammar"
Cache XML Schema, because for the moment, the XML Schema is loaded each time you type something. But there is not freeze because publish diagnostics is done in async mode. To fix that, I think XML catalog should help us and I need to read https://xerces.apache.org/xerces2-j/faq-grammars.html

[2018-08-22 16:34] angelozerr commented on #53
I'm using lsp4j 0.5.0-SNAPSHOT which provides folding structure. We need just fix compliation problem when lsp4j SNAPSHOT will contain the fix https://github.com/eclipse/lsp4j/issues/169#issuecomment-414340646

[2018-08-22 20:37] NikolasKomonen opened #74 "Comments are not considered in Formatting"
The XMLScanner is setup for comments, but it is not handled in XMLFormatting, formatting will remove the comments.

To fix add consideration of comments in XMLParser

[2018-08-23 08:32] angelozerr commented on #74
For XMLCompletions, XMLHighlighting it is working for me. What do you want to do with XMLParser?

For XMLFormatting, the format remove the comments. I think this issue should be renamed too "format should keep comments". But maybe I missed something?

[2018-08-23 13:13] NikolasKomonen commented on #74
@angelozerr You're right, I forgot that Completions used the Scanner and from other IDE's I guess comments dont need highlighting. Ill update this.

[2018-08-23 15:38] angelozerr commented on #53
I close this issue. @NikolasKomonen folding should work on vscode too.

[2018-08-23 15:38] #53 closed

[2018-08-27 17:04] fbricon opened #76 "Range formatting is ignoring the rest of the document's indentation"
When formatting a selection, the whole selection is formatted against the 1st column, ignoring the rest of the document's indentation. See:

![xml-format-region](https://user-images.githubusercontent.com/148698/44673241-ef811d80-a9f8-11e8-8937-a65c20cc646f.gif)

In Java for instance, the selection is also formatted against the rest of the document:

![java-format-region](https://user-images.github

[2018-08-27 19:40] angelozerr commented on #76
I will fix it since I have already done that for completion.

[2018-08-27 19:54] NikolasKomonen commented on #71
@angelozerr The XMLLocator does not have any chance to get a correct position for certain cases since the error can be determined after the locator has passed the token it needs the location information for.

Did you have an idea on how to handle this?

A possible solution is to use the XMLDocument and guess the node from the values we have.

[2018-08-27 21:26] angelozerr commented on #71
Indeed @NikolasKomonen see https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/contentmodel/participants/diagnostics/XMLSyntaxErrorCode.java#L83 how I have started to fix it. It avoids parsing XMLDocument but perhaps it's a bad idea?

[2018-08-28 13:09] NikolasKomonen commented on #71
@angelozerr I'm using that, but in a case like `<a> </a <b>` when the error is found the location only gives the position of `<b>` .

[2018-08-28 20:42] NikolasKomonen opened #77 "Basic Validation response sent twice if auto save is on"
Not sure about schema validation

[2018-08-29 15:59] NikolasKomonen opened #78 "Add delay for onDidChange"
When modifying the document textDocument/didChange will trigger on each keystroke even if done together quickly. This also ends up triggering validation each time.

A fix, similar to [jdtls](https://github.com/eclipse/eclipse.jdt.ls/blob/master/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/handlers/DocumentLifeCycleHandler.java#L104), should help speed everything up. Unless this who

[2018-08-29 17:38] angelozerr commented on #78
Indeed but it should work (delay and cancel of validation), no? https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/XMLTextDocumentService.java#L243

[2018-08-29 20:50] NikolasKomonen commented on #71
@angelozerr Alright, I have the previous implementation done but there are some minor problems with it. Hopefully your experimenting works.

[2018-08-30 11:50] angelozerr commented on #71
@NikolasKomonen just to say you, that I'm using https://github.com/kingargyle/wtp-sourceediting/blob/008173496f087062264ff4c77da2e7fdc36340c9/plugins/org.eclipse.wst.xml.core/src-validation/org/eclipse/wst/xml/core/internal/validation/eclipse/XMLMessageInfoHelper.java to know which selection I must do according the error code (select attribute value, name, etc)

[2018-08-30 12:06] angelozerr commented on #71
@NikoolasKomonen once you have implemented an adjust error code, it should be cool that you have the same sample that you are using in JUNit in a given file like https://github.com/angelozerr/lsp4xml/tree/master/org.eclipse.lsp4xml/src/test/resources/validation/syntax

It will help us in the future to see the result in the editor (to avoid searching again a sample)

[2018-08-30 12:10] angelozerr opened #79 "Maven wrapper breaks the build"
Build failed every time https://travis-ci.org/angelozerr/lsp4xml/builds/422519278?utm_source=email&utm_medium=notification because of

[code]

@fbricon have you an idea about this problem?

[2018-08-30 13:33] angelozerr opened #80 "Support for XML associations"
Gives the capability to assocoiate a give file (ex : `.project`, `.classpath`) with a XML Schema to benefit with compeltion and validatioin. Indeed Eclispe files `.project`, `.classpath` doesn't define an XML Schema in their root. Associate a XMl Schema with a given file name pattern could be helpful.

The question is about file pattern. We could manage at hand '*' pattern like https://github.com/

[2018-08-30 14:06] fbricon commented on #80
@angelozerr Minimatch's original license is ISC, your didn't retain the license/copyright in your port. I think the license change is fine as MIT is close to ISC, but IANAL. The copyright attribution is more problematic I think. So I'd prefer having the opinion of a legal professional here.

[2018-08-30 14:10] angelozerr commented on #80
-( My job was to translate minimatch JS in Java. I don't use minimatch.js, minimatch.java is a pur Java code.

[2018-08-30 15:02] NikolasKomonen opened #81 "Check if logger settings were actually changed before changing settings"
Before initializeRootLogger() is called check if the settings were actually changed.

[2018-08-30 18:03] NikolasKomonen commented on #57
@angelozerr this is great, good work

[2018-08-30 19:13] NikolasKomonen opened #82 "Add autoclose tags"
When an opening tag is written eg: `<root>` the closing tag `</root>` should be automatically inserted.

The HTML language server does this with their own custom request.

References:

- https://github.com/Microsoft/vscode/blob/f707828426bd87e88c17d2da34f2ceed0019d8bd/extensions/html-language-features/client/src/htmlMain.ts#L19

-  https://github.com/Microsoft/vscode/blob/f707828426bd87e88c17d2da3

[2018-08-30 20:04] angelozerr commented on #82
@NikolasKomonen I think it's an issue for vscode-xml (client side) and nor for the server side. The links are about vscode client not about server side. If it that, please close this issue and move it to vscode-xml project.

[2018-08-31 06:50] angelozerr opened #84 "Clean XMLDocument model to use getter/setter"
The Node class https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/model/Node.java declare their field as public (ex : node.tag) . This code is today like this because it comes from vscode html language service. It should set tag as private and provide getTag, setTag.

[2018-08-31 07:25] angelozerr commented on #82
Ok thanks guys for your explanation.

[2018-08-31 07:27] angelozerr commented on #40
Fixed with https://github.com/angelozerr/lsp4xml/commit/05496c3a62689b5d4f1746e48bb36845c838c781 and https://github.com/angelozerr/lsp4xml/pull/83

[2018-08-31 07:27] #40 closed

[2018-08-31 07:29] angelozerr commented on #2
I close this issue since we have done a lot of work with @NikolasKomonen with the parser and it starts working well.

[2018-08-31 07:29] #2 closed

[2018-08-31 07:32] angelozerr commented on #12
Test was added, today only tag hover is supported, we need to support attribute name and value hover.

[2018-08-31 11:40] angelozerr commented on #82
See wiki at https://github.com/angelozerr/lsp4xml/wiki/Language-Server-Protocol-Extensions

[2018-08-31 11:43] angelozerr commented on #38
XML catalog works now to beneit with validation and completion both based on XML Schema. See https://github.com/angelozerr/lsp4xml/wiki/Configuration#catalog

[2018-08-31 11:43] #38 closed

[2018-08-31 15:18] angelozerr commented on #80
This issue was implemented and I'm using Java7 PathMatcher with glob pattern.

See wiki https://github.com/angelozerr/lsp4xml/wiki/Configuration#file-associations for more information.

[2018-08-31 15:18] #80 closed

[2018-08-31 18:38] NikolasKomonen opened #85 "Auto Complete/ Completion for XML Prolog"
When `<?` or `<?xml` is typed give the option to complete the rest

[2018-09-01 05:50] angelozerr commented on #85
Do you want to Work on this issue ?

[2018-09-01 05:53] angelozerr commented on #45
Can We close this issue ?

[2018-09-01 06:29] angelozerr commented on #77
It should do the same thing. Have you this same problem with other language server (ex : HTML Language Server)?

[2018-09-02 22:32] angelozerr opened #86 "Completion doesn't work whith namespace URI"
When XML uses namespace URI, completion doesn't work:

[code]

See https://github.com/apache/camel/blob/master/examples/camel-example-reportincident/src/main/resources/META-INF/spring/camel-context.xml

[2018-09-02 23:01] fbricon commented on #79
Build works again. I think there was an issue with Maven Central last week.

[2018-09-02 23:01] #79 closed

[2018-09-02 23:12] fbricon opened #87 "Same error reported twice on unclosed tag"
Try this snippet:
[code]
Same error message is reported twice, at the beginning and the end of the offending tag:
- `Element type "bundle" must be followed by either attribute specifications, ">" or "/>".` (3, 5)
- `Element type "bundle" must be followed by either attribute specifications, ">" or "/>".` (3, 69)

<img width="820" alt="screen shot 2018-09-02 at 7 07 51 pm" src="https://user-images.g

[2018-09-02 23:19] fbricon opened #88 "Duplicate completion proposals"
Completion proposals to close tags are duplicated:

<img width="685" alt="screen shot 2018-09-02 at 7 17 15 pm" src="https://user-images.githubusercontent.com/148698/44961795-ee625b80-aee4-11e8-9b5a-0db45a2c83bd.png">

[2018-09-02 23:36] fbricon opened #89 "Processing instruction errors not reported if followed by another processing instruction"
Given a document containing 2 processing instructions (PI), the 1st malformed PI is not reported as an error
[code]

[2018-09-02 23:42] fbricon opened #90 "Formatting removes DTD"
Formatting
[code]
removes the DTD!:
[code]

[2018-09-02 23:45] angelozerr commented on #87
I cannot reproduce with LSP4e? If you close your XML file and open it, have you the same problem?

[2018-09-03 07:51] angelozerr commented on #88
That's strange, I cannot reproduce with LSP4E? Could you check the LSP trace in VSCode to check that it's a problem from XML Language Server?

[2018-09-03 15:13] fbricon commented on #88
My bad, the problem was caused by having both redhat.vscode-xml and gorkem.vscode-xml extensions installed. VSCode couldn't know one was the evolution of the other. Closing

[2018-09-03 15:13] #88 closed

[2018-09-03 15:14] fbricon commented on #87
My bad, the problem was caused by having both redhat.vscode-xml and gorkem.vscode-xml extensions installed. Closing.

[2018-09-03 15:14] #87 closed

[2018-09-03 15:15] angelozerr commented on #88
No problem, very cool news:)

[2018-09-03 15:16] angelozerr commented on #87
No problem, very cool news:)

[2018-09-04 13:36] NikolasKomonen commented on #85
@angelozerr sure

[2018-09-04 14:03] angelozerr commented on #90
@NikolasKomonen as you have already done format for prolog, do you want to work on this issue?

[2018-09-04 14:03] angelozerr commented on #85
Thanks @NikolasKomonen

[2018-09-04 14:05] angelozerr commented on #84
@frrebricon @NikolasKomonen it's a big work which requires a big refactoring. Tell me when you wish I do that in order to avoid annoying you.

[2018-09-04 14:13] fbricon commented on #84
@NikolasKomonen is the one affected by it. But it shouldn't take too long to fix, even though it probably touches many files, since that kind of refactoring is well-handled by modern IDEs

[2018-09-04 14:16] angelozerr commented on #84
I mean change Node#tag by Node#getTag(),  Node#setTag(String tag). are you sure IDE can manage that?

[2018-09-04 16:43] NikolasKomonen commented on #71
@angelozerr Do you have a recommendation on how you would want to enable multiple error ranges to be sent?

For certain cases like ETagRequired and ETagUnterminated we need to have multiple ranges. I think that it would be better to have toLSPRange return an array of Ranges instead.

[2018-09-04 19:20] angelozerr opened #91 "XSL support to resolve XML Schema of xsl"
Create an extension which resolves the XML Schema of xsl according the version declared in the xsl.

[2018-09-04 19:34] NikolasKomonen commented on #48
After testing [largeFile.txt](https://github.com/angelozerr/lsp4xml/files/2349932/largeFile.txt)
I deleted the 2nd last tag `</a>` in Intellij it took ~2.8 seconds and in ours ~4.7 till a missing end tag response was received.

[2018-09-04 19:48] fbricon commented on #48
15000L is not what I call large :-) I was thinking about 10's of MB (even that's not large, depending on the context)
Anyways, I think we're getting murdered by TextDocumentSyncKind.Full, as we're sending the full document over the connection on each document change, the whole document is rebuilt entirely on every keystroke, it's not scaling well.
For now, we'll call it a known limitation, but we'

[2018-09-04 20:17] fbricon commented on #77
if validation is triggered on document change and document save, then it makes sense to see validation being triggered twice.

[2018-09-05 08:40] angelozerr commented on #77
Indeed it was my though too, but I would like just to check that thi sbehaviour is the same with other language server

[2018-09-05 10:13] angelozerr commented on #48
@NikolasKomonen thanks for testing that and attached your large file.

Indeed I think it can be a problem, and it was my fear, because we need to manage "incremental" parser which is an hard task I think.

BUT I have started to study the problem, and building the XMLDocument directly from the given file takes 1590 ms which is too big. It seems the problem comes from the regexp. I will give you fee

[2018-09-05 10:15] angelozerr commented on #48
See test at https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/test/java/org/eclipse/lsp4xml/internal/parser/XMLDocumentTest.java

[2018-09-05 10:30] #86 closed

[2018-09-05 14:43] #45 closed

[2018-09-05 14:44] angelozerr commented on #71
Yes we should do that and create a Diagnostic instances per range, because LSP Diagnostic has just one range.

[2018-09-06 07:09] angelozerr commented on #48
@NikolasKomonen I have improved performance, your large file takes 195 ms instead of 1590 ms!

Please give me feedback.

[2018-09-06 13:35] fbricon commented on #48
@angelozerr awesome work! This makes the extension much snappier!!!
did you use a profiler or just noticed that substring hanging there?
Are there other places where substring/string concatenation might be hurting us?

[2018-09-06 13:41] angelozerr commented on #48
Glad it pleases you:) I think now we have the same performance than HTML Language Server.

To be honnest with you, I'm not very familiar with profiler, I have just noticed this hang (at first I though it was because of regexp, but it was about String#substring)

I have tried to check that, but I think it's OK. The main problem is to do a substring from a position to string length (it creates a ver

[2018-09-06 15:30] NikolasKomonen commented on #48
@angelozerr This is awesome, great find.

[2018-09-06 15:34] angelozerr commented on #48
Thanks guys!

[2018-09-07 10:55] alainpham opened #96 "formatting removes ending slash from empty xml elements"
When there are empty elements in the xml document, the ending slash is removed after formatting is applied. I have observed this using t VS code plugin.

A document like this (notice the empty elements such as the from and the log)

<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:context="http://www.springframework.org/schema/context" xmlns="http://www.springframework.org/schema/beans" xsi:sch

[2018-09-07 12:53] fbricon commented on #84
@angelozerr can we close that one now?

[2018-09-07 12:56] angelozerr commented on #84
No, it's not fisnished, sorry -( I will push soon a big refactoring.

[2018-09-07 12:59] angelozerr commented on #96
I'm fixing it.

[2018-09-07 14:56] NikolasKomonen opened #97 "Dont format Comments"
On format have comments stay where they are

[2018-09-07 19:17] fbricon opened #99 ""xml.format.splitAttributes": true should ignore prolog and processing instructions"
[code]

is formatted to

[code]

Eclipse ignores prolog and processing instructions during formatting, which I think is the least surprising/annoying thing to do.

[2018-09-07 19:21] fbricon opened #100 ""xml.format.splitAttributes": true should align attributes"
Having "xml.format.splitAttributes": true,

[code]
should be formatted with all attributes aligned, like:

[code]

instead, the 1st attribute is on the same line as the tag, other attributes on the 2nd column:
[code]

[2018-09-07 19:31] #74 closed

[2018-09-07 20:33] fbricon opened #102 "Unclosed tag causes the formatter to insert an extra `>`"
Formatting a malformed document like:
[code]
yields
[code]

In Eclipse, this is the output:
[code]

[2018-09-07 20:54] fbricon opened #104 "Add preference to enable/disable formatting support"
Since we keep finding bugs in the formatting support, it'd be nice to provide support for a format.enabled=false preference.

Formatting support should be (un)registered dynamically. For reference, this is how jdt.ls handles dynamic registration : https://github.com/eclipse/eclipse.jdt.ls/blob/5b3ba86b681cd03e707c44347e4605a4fe1d4cda/org.eclipse.jdt.ls.core/src/org/eclipse/jdt/ls/core/internal/han

[2018-09-08 08:23] angelozerr opened #105 "DTD support for validation"

[2018-09-08 08:23] angelozerr opened #106 "XML completion based on external DTD"

[2018-09-08 08:27] #105 closed

[2018-09-08 08:34] angelozerr opened #107 "Adjust range for DTD Validation errors"

[2018-09-08 09:04] angelozerr commented on #77
Can we close this issue?

[2018-09-08 09:06] angelozerr commented on #90
Fixed by https://github.com/angelozerr/lsp4xml/commit/84f8845cc40a99f61269a3e6a229fb7dd1e36f9c. Thanks @NikolasKomonen !

[2018-09-08 09:06] #90 closed

[2018-09-09 14:47] felixfbecker opened #108 "Autocompletion and hovers fail with NullPointerException"
I am using [vscode-xml](https://github.com/redhat-developer/vscode-xml), but hovers or completion don't work and log this to the output channel:

Hover:
[code]

Completion:
[code]

[2018-09-09 15:31] fbricon commented on #108
Are you using an xsd? Can you please provide a sample document reproducing the problems?

[2018-09-09 16:30] fbricon commented on #82
@angelozerr have you checked how it behaves with emmet support?

[2018-09-09 16:33] fbricon opened #109 "hover on closing tag shows documentation from previous tag"
Hovering over https://github.com/angelozerr/lsp4xml/blob/41fb0a76954a300b6954c10ef8e8fde68fe47b5a/pom.xml#L28 shows the documentation for `<modules>`, the previous tag

[2018-09-09 16:44] felixfbecker commented on #108
Sure, just pushed them to this repo: https://github.com/felixfbecker/PowerShellXSD

`Format.xsd` is the the schema (I autogenerated it from the XML, so pretty sure it's valid)
`TestFormat.xml` is a schema instance. Try hovering over any tag, or triggering autocompletion, and you should see the above exceptions logged (and no hover/completion results).

[2018-09-09 16:45] felixfbecker commented on #97
For me it plain out _removes_ the comments

[2018-09-09 16:48] felixfbecker opened #110 "Format turns self-closing tags into invalid unclosed tags"
Reproduce:
- Create an XML file with this content:
[code]
- Invoke format document command

**Expected**: No change

**Actual**:
Gets changed to
[code]
which is not valid.

[2018-09-09 17:15] fbricon commented on #110
I can't reproduce this issue. Which version of the server are you running?

[2018-09-09 17:58] fbricon commented on #110
I tried vscode-xml-0.1.0-196.vsix 08-Sep-2018 05:49

[2018-09-09 19:43] fbricon commented on #110
We want to squash a bunch of annoying bugs before we start releasing the vscode extension to the marketplace. Hopefully next week we'll perform the first public release.

[2018-09-09 19:47] fbricon commented on #108
Have you checked with the latest build?

[2018-09-09 19:49] felixfbecker commented on #108
Yep, I can reproduce this with `vscode-xml-0.1.0-196.vsix`

[2018-09-10 07:33] angelozerr commented on #110
It was the same issue than https://github.com/angelozerr/lsp4xml/issues/96 that I have fixed this week end.

[2018-09-10 11:41] #102 closed

[2018-09-10 11:42] angelozerr commented on #102
Oooops sorry @NikolasKomonen, I had not seen that this bug has been assigned to you. It's fixed now.

[2018-09-10 11:57] angelozerr commented on #108
`xsi:noNamespaceSchemaLocation` was not supported with completion, hover, it should be fixed now:

 * NPE should not occur
 * completion, hover (if there are documentation) should work.

[2018-09-10 11:59] angelozerr commented on #108
I close this issue, if you have problem again, please reopen it.

[2018-09-10 11:59] #108 closed

[2018-09-10 12:02] felixfbecker commented on #108
Awesome. In which version of vscode-xml can I try this out?

[2018-09-10 12:14] fbricon commented on #108
@felixfbecker vscode-xml rebuilds every time a commit is added to the server repo. So look for the latest build in http://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D, about 15-30min after a fix is done server-side.

[2018-09-10 12:14] angelozerr commented on #108
I don't the build process of vscode-xml, @fbricon could you give us more info about that?

[2018-09-10 12:18] felixfbecker commented on #108
Awesome, `vscode-xml-0.1.0-199.vsix` works.

[2018-09-10 12:18] angelozerr commented on #108
Thans @fbricon for your answer. @felixfbecker please tell me it works for you.

You should have completion like this:

![nonsdemo](https://user-images.githubusercontent.com/1932211/45297052-5d067100-b504-11e8-801a-1eff4b81cb06.gif)

[2018-09-10 12:21] felixfbecker opened #111 "Autocompletion and hovers when writing XSDs"
I am trying to get autocompletion while authoring an XSD.
For this, I declared the XSD as an instance of the XSD meta schema:

[code]

However, I am not getting any autocompletion or hovers.

Output channel log:

[code]

(no errors)

Version: `vscode-xml-0.1.0-199.vsix`

[2018-09-10 12:36] angelozerr commented on #111
I think it's because vscode-xml doesn't bind `.xsd` file extension to the XML Language Server.

Have you tried to rename your file with `.xml` extension?

[2018-09-10 12:39] felixfbecker commented on #111
Ahh, yeah if I rename the file it works. `.Format.ps1xml` worked fine, so I thought it may only look for `<?xml` declaration at the top of files. In general I think it would be great if it did that instead of relying of the file extension, because there are many more file types that are XML but don't use a `.xml` extension, for example `.csproj`.

[2018-09-10 12:41] angelozerr commented on #111
It's an issue for vscode-xml (client side). The XML Language Server doesn't use xml extension.

So please create an issue at https://github.com/redhat-developer/vscode-xml/issues, by listing all files extensions like xsd, xsl, csproj, etc

I close this issue since it's an issue of vscode-xml.

[2018-09-10 13:49] NikolasKomonen commented on #106
@angelozerr Already working on it, almost done.

[2018-09-10 13:52] angelozerr commented on #106
Really? You are implementing CMDocument like XML Schema, is that?

[2018-09-10 13:53] fbricon opened #112 "Add support for completion requests from empty character"
Given:
[code]

There's no completion until I press `<`. While I understand autocompletion is triggered on `<`, explicit completion requests (`ctrl+space`), should also return results from anywhere in the document. In this case, it should return `</bar>`.

In Eclipse, when explicitely requesting completion from an empty space, you get :
1 - proposition to close the last opened tag
2 - list of all p

[2018-09-10 14:27] fbricon commented on #111
@angelozerr does xsd support work correctly in LSP4E? See https://github.com/redhat-developer/vscode-xml/issues/22#issuecomment-419928374 and later comments

[2018-09-10 14:41] angelozerr commented on #111
No, same problem. I will investigate it.

[2018-09-10 16:36] NikolasKomonen commented on #106
Oh sorry, I got this confused. I'm not working on this.

[2018-09-10 16:38] angelozerr commented on #111
@fbricon there are several problem that I'm fixing:

 * there are 3 xs:annotations. https://github.com/angelozerr/lsp4xml/commit/dbda60800a148dad30b8ae006142212f8d2ddcbb fixes a little this bug and now I have 2 xs:annotations. I continue to investiage the problem.
 * load of this XML Schema takes a very long time (sometimes one minute?). I don't know why, but its' a good usecase to support load of

[2018-09-10 17:09] felixfbecker commented on #111
Are schemas cached on disk?

[2018-09-10 21:48] #99 closed

[2018-09-10 21:48] #100 closed

[2018-09-10 21:57] #71 closed

[2018-09-10 22:07] angelozerr commented on #111
Yes.

[2018-09-10 22:26] angelozerr commented on #111
I have fixed the xs:annotation problme. Now you should have just one xs:annotation instead of 3.

[2018-09-11 04:02] fbricon opened #115 "Documentation on hover unnecessarily indented"
Hovering over the `<dependencies>` tag of a pom.xml, you can see the documentation is unnecessarily indented.

![screen shot 2018-09-10 at 11 59 09 pm](https://user-images.githubusercontent.com/148698/45337389-b9de4780-b555-11e8-9197-ab7bbfda5115.png)

[2018-09-11 04:41] fbricon commented on #72
@angelozerr what's the status on this one?

[2018-09-11 10:30] felixfbecker opened #116 "Autocompletion incorrectly prefixes suggestions with xsi namespace"
I have a document that must not use namespaces (ps1xml files). I get completion, but they are always prefixed with `xsi` (from the `xsi` namespace declaration)

![image](https://user-images.githubusercontent.com/10532611/45354583-3c025680-b5be-11e8-8ef9-639b20cce1ff.png)

[code]

Am I missing something?

[2018-09-11 12:49] fbricon commented on #116
Can you please attach your xsd?

[2018-09-11 13:00] felixfbecker commented on #116
Yep, it's here: https://github.com/felixfbecker/PowerShellXSD

(I am still learning XSD so it may be that something is wrong with it)

[2018-09-11 13:34] fbricon opened #117 "Autocompletion from xsd doesn't cope with existing closing bracket"
In a document with xsd, with an editor having autoclosing brackets enabled, typing "<" automatically inserts "<>". In that case, closing a tag works properly (inserts only `/lastTag` between the brackets, but node completion from the xsd ignores the closing tag (i.e. inserts `othertag></othertag>`, which means we end up with an extra `>`. Eg, a pom.xml in vscode with "editor.autoClosingBrackets":

[2018-09-11 13:43] fbricon commented on #111
But it doesn't seem to survive a server restart.

We have #73 opened about caching schemas locally.

[2018-09-11 15:47] felixfbecker commented on #111
I've also gotten it to work after waiting a very long time.

[2018-09-11 15:49] felixfbecker commented on #116
Okay, so there was a bug in my schema which I fixed now. There was not "invalid schema" message btw at the schema instance, only when opening the schema.

So I now do get the right completion entries, but it _also_ still adds all these prefixed entries which are wrong (they don't belong to that namespace, and they are not valid in the context even without the prefix)

![image](https://user-images.

[2018-09-11 16:32] angelozerr commented on #116
It's a bug. I'm reading namespace spec to fix it.

[2018-09-11 17:55] angelozerr commented on #116
It should be fixed. @felixfbecker please give us feedback.

[2018-09-11 17:55] #116 closed

[2018-09-11 20:52] felixfbecker commented on #116
Tried with build 209 of vscode-xml and it's still happening. Did you try it on the project I linked above?

[2018-09-12 09:29] angelozerr commented on #116
lsp4xml build was failling. I have fixed the problem now.

[2018-09-12 09:36] angelozerr commented on #89
I'm afraid that it's not possible to fix this issue, since Xerces doesn't report this error (you will see that this error is ignored in WTP XML Editor too).

[2018-09-12 10:27] angelozerr commented on #115
Should be fixed now by normalizing spaces.

[2018-09-12 10:27] #115 closed

[2018-09-12 11:53] felixfbecker commented on #116
Fixed, thanks!

[2018-09-12 12:00] angelozerr commented on #116
You are welcome:)

[2018-09-12 12:20] angelozerr opened #119 "Remove XMLPositionUtility#getNameFromArguents"
@NikolasKomonen I would like to remove XMLPositionUtility#getNameFromArguents but before that I would like to know why you need this utility method. When I remove it and launch tests, it works great.

Could you add tests which uses ARGUMENTS_ARE_NULL or INDEX_OUT_OF_RANGE? If you have none tests (just write it to check index or null), I will remove this method, which is wrong because it search aft

[2018-09-12 14:58] #119 closed

[2018-09-12 14:58] angelozerr commented on #119
@NikolasKomonen I have removed your XMLPositionUtility#getNameFromArguents since I have improved selection of attribute by using the offset instead of using attribute name.

[2018-09-12 17:07] angelozerr opened #120 "Comment should not be returned by documentSymbol"
documentSymbol returns comment and it can be confusing with element:

![image](https://user-images.githubusercontent.com/1932211/45441267-e661a300-b6be-11e8-9ec6-514e2cee6f6e.png)

To fix this issue, there are 3 solutions:

 1) display comments with other kind to see that it's a comment
 2) or remove it
 3) or  provide a preferences to return it or not.

@fbricon @NikolasKomonen what do you prefer

[2018-09-12 17:33] fbricon commented on #120
No, don't return comments. See the YAGNI principle.
If someone requests it in the future, we can consider adding a flag then.

[2018-09-12 18:20] angelozerr commented on #120
Thanks @fbricon for your answer. The isssue is fixed.

[2018-09-12 18:20] #120 closed

[2018-09-12 19:01] fbricon commented on #89
@NikolasKomonen can you check on intellij or netbeans please? I'm not gonna install those on my shitty 4GB ram laptop

[2018-09-12 21:01] angelozerr opened #121 "Autocompletion for attribute value"
Support Autocompletion for attribute value (based on XML Schema, DTD)

[2018-09-13 16:29] angelozerr commented on #121
@fbricon @NikolasKomonen I have started to implement this feature, I must write tests and there is a bug which doesn't replace the whole attribute value. But it starts working, here a demo which shows you in action:

 * completion on attribute name based on XML Schema
 * completion on attribute value based on XML Schema
 * quick fix to replace attribute value if it's a boolean or an enumeration.

[2018-09-14 11:07] felixfbecker opened #122 "Completion when changing a tag inserts wrong closing tag"
![2018-09-14 13 07 37](https://user-images.githubusercontent.com/10532611/45546923-348db800-b81f-11e8-923f-07917a1c2d60.gif)

The tag already has a closing tag, and I am within a starting tag, so it should insert one.

[2018-09-14 11:17] angelozerr commented on #122
@felixfbecker I don't understand how you do that with vscode: you select a tag name and you type some content and it updates the end tag too?

Could you explain me please?

Please note that you have a rename feature which supports that.

[2018-09-14 11:19] angelozerr commented on #122
Perhaps its' an extension that you have installed?

[2018-09-14 11:39] angelozerr commented on #122
lsp4xml gives the capability ro rename the start/end tag element (not the whole document).

I will try to install your extension and play with it. I don't know if it's an hard task to do.

[2018-09-14 11:41] felixfbecker commented on #122
To be entirely clear: This bug has nothing to do with the extension. It happens without the extension too.

![2018-09-14 13 40 49](https://user-images.githubusercontent.com/10532611/45548238-e29b6100-b823-11e8-8eb5-b55bcc74eb4b.gif)

[2018-09-14 11:52] angelozerr commented on #122
I understand your problem and it should be cool to fix it, but I think it's an hard task because in your case you need to detect that `</ListItem>` is an end element which have no opened element and which be replaced with the  opened `<TableColumnItem>`.

Today the tolerant XML parser ignore the end element which have no opened element (it's the same logic than the HTML Language Server of vscode).

[2018-09-14 11:57] felixfbecker commented on #122
Awesome. If rename works, there are definitely more important priorities like #117, https://github.com/redhat-developer/vscode-xml/issues/17

[2018-09-14 12:01] angelozerr commented on #122
Glad it pleases you:) The only think with rename is that you have not completion.

I have an idea how to do fix it, just find time to do it:)

[2018-09-14 15:01] fbricon commented on #76
@angelozerr are you still looking at that one or should we assign it to @NikolasKomonen. Because that makes range formatting almost useless

[2018-09-14 15:04] angelozerr commented on #76
I'm fixing https://github.com/angelozerr/lsp4xml/issues/117 and after I will see it.

[2018-09-14 15:09] fbricon commented on #76
cool, thanks

[2018-09-14 16:10] felixfbecker opened #123 "No autocompletion until the root element is added"
I associated a schema via a file pattern:
[code]

When I create a new file, I do not get any autocompletion for
- The xml declaration and its attributes
  - Ideally this should suggest a snippet where `version` defaults to `1.0` and `encoding` to `utf-8`
- The root element (despite it being know through the file association)

![2018-09-14 18 06 39](https://user-images.githubusercontent.com/1053261

[2018-09-14 16:13] felixfbecker opened #124 "Default values for file associations"
It would be a great UX if common schemas were already defined by default, for example:
[code]
would be great to include by default. If a file matches both a predefined glob and a user-defined glob, the user-defined would be preferred.

[2018-09-14 16:17] felixfbecker opened #125 "Duplicate suggestions"
![image](https://user-images.githubusercontent.com/10532611/45562262-2f922e00-b84a-11e8-88f3-4fc64c91c375.png)

Noteworthy is that one `Name` suggestion shows docs, the other doesn't. Looks like one is inferred from the existing `Name` tag.
Expected would be 0 suggestions for `Name`, because `Name` must only appear once.

Schema is here: https://github.com/felixfbecker/PowerShellXSD/blob/master/Ty

[2018-09-14 16:35] felixfbecker opened #126 "Language server cannot find schema after a while"
After I leave a file open in the background for a while, then come back to it, I often see that the root element is not recognised anymore. Restarting solves it, so it cannot be a problem with the schema.

![2018-09-14 18 34 12](https://user-images.githubusercontent.com/10532611/45563212-f9a27900-b84c-11e8-85a9-d02322603f9e.gif)

[2018-09-14 16:42] NikolasKomonen commented on #89
@fbricon Intellij does not report this error either. :smile:

[2018-09-14 16:47] NikolasKomonen commented on #123
Right now the xml declaration doesn't have completion setup, I'll be getting to that soon.

Personally not sure about that one

[2018-09-15 10:17] #117 closed

[2018-09-15 11:32] angelozerr commented on #112
This issue is for several features. Now completion with ctrl+space provides elements:

![image](https://user-images.githubusercontent.com/1932211/45585819-65d3ba00-b8eb-11e8-92b4-d09a7f594b9f.png)

1) is working only when you are after the start of element

![image](https://user-images.githubusercontent.com/1932211/45585828-8c91f080-b8eb-11e8-83cd-2fc6b08b8313.png)

2) starts working

![image](htt

[2018-09-17 09:48] angelozerr commented on #123
@NikolasKomonen has intention to do. See https://github.com/angelozerr/lsp4xml/issues/85

I will do it. I affect me this issue since the root element doesn't work. For the xml declaration compeltion, please see https://github.com/angelozerr/lsp4xml/issues/85

[2018-09-18 17:59] angelozerr commented on #84
Now we have a clean XMLDocument,Node  structure. All tests are passed in my Windows OS.

Hope I have not broken something. Please create issues of you find bugs.

[2018-09-18 17:59] #84 closed

[2018-09-18 20:16] fbricon opened #130 "Autocompletion from schema should respect autoClosingTags.enabled=false"
Currently, when autocompleting a tag proposed from a schema, the completion item always includes the closing tag.
Since we're introducing an `autoClosingTags.enabled` preference in vscode, we then see a discrepancy in the completion behaviour, between closing a random tag and a tag defined in a schema.
`autoClosingTags.enabled` should be adopted by the server and make completions consistent, i.e.

[2018-09-19 10:33] angelozerr opened #131 "Format no joinContentLines doesn't work with \r\n"
Format no joinContentLines doesn't work with \r\n. Tests are not passed in this case.

[2018-09-19 10:33] #131 closed

[2018-09-19 10:46] angelozerr commented on #131
@NikolasKomonen I have fixed the problem. I have several comments about your work:

 * if you add StringUtils method, please add tests too. The StringUtils method should be simply and not linked to a context (like your old rTrimOffset which requires a startOffset, in this case rTrimOffset should be in private where your code is used).

 * write test : I have simplify your code to use trimNewLines

[2018-09-19 18:36] NikolasKomonen commented on #131
@angelozerr Thanks for the comments I'll make sure to consider this for the future. And nothing seems to have been broken.

[2018-09-20 09:18] angelozerr opened #132 "Only end tag is ignored by XML parser"
The following XML content:

[code]
or

[code]
ignores the end tag element `<\a>` by the XML parser which causes many problem with

 * higlight (root is not higlighted)
 * rename (root cannot be rename)
 * document symbols doesn't return the element a
 * format remove the element a.

To fix thoses issues, the XML parser should take care of this end tag only case.

[2018-09-20 09:19] #132 closed

[2018-09-20 15:36] #77 closed

[2018-09-20 16:54] angelozerr opened #133 "Experimental Incremental support"
In large XML file, vscode like Eclipse freezes as soon as you type something. One of problem is because the didChange command send a big JSON content every time.

One idea that I have is to se the Incremental support on the server side, and didChange update the string of stored TextDocument.

I have started to implement this idea, but I think we should have a preferences like "experimentalIncremen

[2018-09-20 21:04] fbricon commented on #133
Yes, that'd be interesting, but I think `experimental.incrementalSupport.enabled` would be better.
Also, it'd be nice to finish getting proper schema validation/completion support before we start adding new fancy features.

[2018-09-21 07:18] keith-hall opened #134 "XPath query support"
Hi,

I'm not too familiar with LSP, so please say if this is completely out of scope of this project, but I think it would be great to have two additional features:

- the ability to query the XML document using XPath, to navigate to nodes etc. (and having auto-completion while entering the XPath expression)
- the ability to retrieve an XPath expression that would match the currently highlighted n

[2018-09-21 07:31] angelozerr commented on #134
Indeed it's a good idea, but to be honnest with you, I don't know when we will have time to support it. For the moment our scope is to support XML validation, completion, hover, etc based on XML Schema and perhaps DTD.

[2018-09-21 11:53] angelozerr commented on #122
@felixfbecker I'm not sure, but perhaps the future settings `autoCloseTags` in https://github.com/angelozerr/lsp4xml/issues/130 could fix your problem.

[2018-09-21 11:58] felixfbecker commented on #122
Yeah, I think I would prefer tags to not be autoclosed, since it's easy to manually close a tag by invoking autocompletion and selecting the suggestion to close the tag.

[2018-09-21 15:05] fbricon opened #135 "Wrong diagnostic range for malformed attribute"
Given
[code]
the error range for `Open quote is expected for attribute "one" associated with an  element type  "bar".`  is underlying `two`, instead of `one`

[2018-09-21 15:06] fbricon commented on #135
funny thing is if you change `two` to `something`, the range is still matching the 1st 3 letters of the 2nd attribute

[2018-09-21 15:52] angelozerr commented on #72
Thanks for the info @fbricon I will try to improve this range problem.

[2018-09-21 19:58] fbricon commented on #133
So I tried to test it in vscode but the way you implemented it, it's not a preference, but a client capability. In vscode we don't have an easy access to tweak available client capabilities and add experimental stuff.
The ClientCapabilities.experimental property is meant to add experimental feature of the protocol.

I think the experimental property *you* want needs to be part of the server config

[2018-09-21 20:00] #104 closed

[2018-09-22 04:10] angelozerr commented on #133
Done.

[2018-09-22 04:18] angelozerr opened #137 "Code action to close missing quotes for attributes"

[2018-09-22 04:28] angelozerr commented on #72
@fbricon I have managed selection of error date, but I have not written test. Do you think we can use the IBM Language Server invoice.xsd to write test?

[2018-09-22 06:14] fbricon commented on #72
I guess you can. Project is EPL. In doubt you can easily create a simple schema with dates

[2018-09-22 06:17] fbricon commented on #72
So we made some progress but I still see bad ranges at the end of problematic nodes:
<img width="540" alt="screen shot 2018-09-22 at 2 15 35 am" src="https://user-images.githubusercontent.com/148698/45914067-80d38c00-be0d-11e8-90de-19c55618605e.png">

[2018-09-22 10:47] angelozerr commented on #72
Ok thanks, I will create a new file for that according your suggestion

Yes I know that, the error is for `cvc-datatype-valid.1.2.1` (I seems that the Xerces version of IBM Language server doesn't manage it).

The sample at https://wiki.xmldation.com/Support/Validator/cvc-datatype-valid-1-2-1 is for element text, but I tell me if for attribute value we can have this error too? I had implemented th

[2018-09-22 12:49] angelozerr commented on #72
@fbricon now we should have the same thing than IBM XML Language Server.

[2018-09-22 13:32] #135 closed

[2018-09-22 13:58] fbricon opened #138 "multiple NPEs while editing a file, after changing the formatting preference"
In vscode, I opened a document, to check formatting was disabled with "xml.format.enabled": false, then I switched to open the settings to switch to "xml.format.enabled": true. Once I returned to the document, the server started spitting NPEs left and right.
[code]

Content of document:
[code]

[2018-09-22 14:10] fbricon commented on #138
looks like a call to didChangeConfiguration flushes the document cache, which is the source of those NPEs

[2018-09-22 23:15] fbricon commented on #72
Still seeing bad ranges for invalid attributes content (closing bracket is underlined):
<img width="546" alt="screen shot 2018-09-22 at 7 11 50 pm" src="https://user-images.githubusercontent.com/148698/45922517-b8891500-be9b-11e8-917a-2d028ac8fab5.png">

[2018-09-23 13:33] angelozerr commented on #72
Now it should be better.

[2018-09-23 13:34] angelozerr commented on #138
https://github.com/angelozerr/lsp4xml/commit/13a8d14d5fef08a43bb24654cdd2b73b3a4974a9 should fix your problem.

[2018-09-23 13:35] angelozerr commented on #112
I will fix it.

[2018-09-24 03:49] fbricon commented on #72
Nope. Still seeing underline on closing bracket. Range is still wrong:
<img width="1039" alt="screen shot 2018-09-23 at 11 49 01 pm" src="https://user-images.githubusercontent.com/148698/45937112-4d1e7080-bf8b-11e8-82ba-f49634e98860.png">

[2018-09-24 05:41] angelozerr commented on #72
Are you sure that you are using version from master? Test are https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/test/java/org/eclipse/lsp4xml/contentmodel/XMLSchemaDiagnosticsTest.java#L136

[2018-09-24 11:46] fbricon commented on #72
yes, that's why I made https://github.com/angelozerr/lsp4xml/pull/139, to be sure about the version running

[2018-09-24 12:11] angelozerr commented on #72
Sorry @fbricon there were indeed a bug that it should be fixed. Sorry again -(

[2018-09-24 12:17] fbricon commented on #72
Works now! Thanks @angelozerr !
Are we still missing anything to close this issue?

[2018-09-24 12:19] fbricon commented on #138
Works now. Thanks @angelozerr

[2018-09-24 12:19] #138 closed

[2018-09-24 12:27] angelozerr commented on #138
Cool, sorry for the disturb with my incremental work.

[2018-09-24 12:30] fbricon commented on #72
Fair enough. closing

[2018-09-24 12:30] #72 closed

[2018-09-24 15:11] angelozerr commented on #72
@fbricon just for your information, I have played with the XML IBM XML Server and I have fixed few problems with completions and improve code actions.

Here the code actions which is avalable:

![image](https://user-images.githubusercontent.com/1932211/45960409-789d6b80-c01c-11e8-822d-66e828564a9b.png)

![image](https://user-images.githubusercontent.com/1932211/45960442-8a7f0e80-c01c-11e8-8dd1-303

[2018-09-24 15:16] NikolasKomonen commented on #137
Follow : https://github.com/angelozerr/lsp4xml/tree/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/contentmodel/participants/codeactions

[2018-09-24 16:05] angelozerr commented on #123
@felixfbecker it should work now but only if you type '<'. I will see if it's easy to to that with ctrl+space only.

[2018-09-24 16:10] angelozerr commented on #126
@felixfbecker have you 2 file associations?

[2018-09-24 16:19] angelozerr commented on #126
@felixfbecker there were a bug when there were 2 xml filer assocoiations. Ho^pe it's your case.

[2018-09-24 16:19] felixfbecker commented on #126
These are my settings:
[code]

[2018-09-24 17:50] fbricon commented on #126
@angelozerr testing with IBM's examples, I can't get file association to work with
[code]

[2018-09-24 18:19] angelozerr commented on #126
Great, I think it's the case I have fixed.

I will try to investigate the problem.

[2018-09-24 19:28] angelozerr commented on #126
Perhaps yes, but to be honnest with you, I don't know, I have implemented file association quickly.

[2018-09-24 20:59] fbricon opened #142 "File association should support relative path for systemId"
right now, trying to validate the [examples](https://github.com/microclimate-devops/xml-language-server/blob/master/sample-resources/file_association/invoice_with_errors.xml) from IBM's XML language server by associating files like:
[code]
has no effect. I tried using an absolute path for systemId but didn't work either (tried on a Mac)

[2018-09-24 21:00] fbricon commented on #126
@angelozerr ok. I opened #142 to follow up on that issue.

[2018-09-24 21:15] fbricon commented on #142
so absolute path actually works but I had to restart the server to get it working.

Also, after using a relative path and restarting the server, I get a bunch of errors like:

schema_reference.4: Failed to read schema document 'file_association/invoice.xsd', because 1) could not find the document; 2) the document could not be read; 3) the root element of the document is not <xsd:schema>.

[2018-09-24 22:58] angelozerr commented on #126
Thanks.

@felixfbecker could you tell me if your problem is resolved please.

[2018-09-25 08:00] felixfbecker commented on #126
I get autocompletion for the top-level element:

![image](https://user-images.githubusercontent.com/10532611/46000716-a250a400-c0a9-11e8-8003-4a1d40f47b06.png)

But I don't get autocompletion for the `<?xml` header:

![2018-09-25 09 59 34](https://user-images.githubusercontent.com/10532611/46000764-cb713480-c0a9-11e8-9686-f1e14cdb1f7d.gif)

[2018-09-25 08:05] angelozerr commented on #126
This issue is not for that. The well issue is https://github.com/angelozerr/lsp4xml/issues/123 and I must improve it to have top-level element with ctrl+space

This issue is not for that. And it's normal because @NikolasKomonen has not implemented https://github.com/angelozerr/lsp4xml/issues/85

The original  issue is about `After I leave a file open in the background for a while, then come back t

[2018-09-25 08:11] felixfbecker commented on #126
Oh, sorry I confused issues. I've not seen that problem again, but I've also not used it for a long time since then. I can reopen this if it occurs again.

[2018-09-25 08:11] #126 closed

[2018-09-25 13:36] angelozerr commented on #125
I cannot reproduce it.

[2018-09-25 14:46] angelozerr commented on #111
Ok now I see more better the problem, it should be cool @fbricon if you could help me to fix the problem.

I have the same problem with this XML file:

[code]

There are 2 problem:

 * with validation
 * with completion

to work those 2 features correctly, I need to open the XML file and open completion and waits for around 1 minute without changing the editor content.

After that, XML Schema is c

[2018-09-25 14:59] felixfbecker commented on #111
I would suggest to not return a "warning" content but instead just delay the response to the hover. As long as the response is not there, a client will display "Loading...", but if you return a warning content, some clients cache the result and the user will never see the real content (Sourcegraph does this).

[2018-09-25 15:06] angelozerr commented on #111
@felixfbecker I agree with you for hover, when I said "warning", I mean for diagnostics.

[2018-09-25 18:36] fbricon opened #143 "Changing the file associations or catalogs in the preferences should trigger validation"
When a file association or a catalog is added or modified in the preferences, if a matching document is already open, it doesn't take into account the new schema.
Either diagnostics on opened documents are stale or missing.
So changing associations or catalogs should trigger validation for all opened documents.

[2018-09-25 18:46] #82 closed

[2018-09-25 18:46] #130 closed

[2018-09-25 22:02] fbricon opened #144 "No validation when referencing a schema in the same directory"
Trying the example in https://stackoverflow.com/a/8780114/753170

resources.xsd:
[code]
and resources.xml:

[code]

resources.xml has an error on the opening resources tag:

[2018-09-25 22:13] fbricon opened #145 "Validation of empty required node shows misplaced diagnostics"
With the same old invoice document, when adding empty tags that are required, the diagnostics are put under the closing bracket. Also the 1st empty tag is underline:
![sep-25-2018 18-09-12](https://user-images.githubusercontent.com/148698/46046335-a94dd580-c0ee-11e8-8b5a-bf7123780a09.gif)

[2018-09-26 00:53] angelozerr commented on #137
@NikolasKomonen I suggest you to see https://github.com/angelozerr/lsp4xml/commit/492212a08cd47fcc96a347d59a4a7fe58c2a2c58

[2018-09-26 00:57] angelozerr commented on #125
@felixfbecker please close it, if problem is gone.

[2018-09-26 08:37] apupier opened #146 "Provide documentation on hover for attributes"
the documentation is available on auto-completion for attributes but not on hover for attributes.
The documentation on hover is also available for tag name.

it would be nice to have the attribute documentation on hover too.

documentation for attribute on completion
![image](https://user-images.githubusercontent.com/1105127/46067777-ead69300-c177-11e8-8b65-767a3926f722.png)
documentation on hover

[2018-09-26 11:30] angelozerr commented on #145
@fbricon please tell me if it's OK now.

[2018-09-26 11:31] angelozerr commented on #142
@fbricon please tell me if it works for you.

[2018-09-26 15:32] fbricon commented on #145
Works fine now, thanks @angelozerr

[2018-09-26 15:32] #145 closed

[2018-09-26 15:35] fbricon commented on #144
I still have the error, but completion for resource nodes and attributes work as expected. Weird

[2018-09-26 15:39] fbricon commented on #142
Works for `**/file_association/invoice_*.xml`. Not for `*/file_association/invoice_*.xml` (the syntax in IBM's example). Not sure if it's a big deal

[2018-09-26 15:47] fbricon opened #147 "Validation of non-empty nodes required to be empty shows misplaced diagnostics"
[code]
has the closing bracket of ` </consumerTemplate>` underlined with

<img width="588" alt="screen shot 2018-09-26 at 11 47 40 am" src="https://user-images.githubusercontent.com/148698/46092063-08105f00-c182-11e8-913a-1fb3a77586e8.png">

[2018-09-26 15:51] angelozerr commented on #142
The IBM Language Server uses regexp to do that. In my case I'm using glob pathmatcher. I'm not sure if we should support  IBM Language Server syntax too.

[2018-09-26 15:54] angelozerr commented on #123
@felixfbecker it should work now with ctrl+space too (without typing '<')

[2018-09-26 15:54] #123 closed

[2018-09-26 17:05] fbricon commented on #142
It's probably fine as-is

[2018-09-26 17:39] fbricon commented on #12
So hover on attribute now works. Attribute enum values show the attribute doc though.

[2018-09-26 17:53] fbricon opened #148 "Add support for `textDocument/definition` for XML Schema"
So that you can navigate from an element to its type definition in a schema.
Suggested by @ifedorenko.

[2018-09-26 18:52] fbricon commented on #147
Works fine, thanks for the fix @angelozerr!

[2018-09-26 18:52] #147 closed

[2018-09-26 19:05] fbricon opened #149 "Provide server jar including the extensions"
Having a simple jar including all the extensions would make it simpler to embed in the various clients.

[2018-09-26 19:29] #142 closed

[2018-09-26 19:31] fbricon commented on #121
@angelozerr what's the status on this one?

[2018-09-26 19:47] angelozerr commented on #121
It's soon finished. It exists just a bug when completion is applied and you have typed some content.

[2018-09-26 19:58] angelozerr commented on #149
It should be cool, but extension are more a POC today

[2018-09-27 11:56] fbricon commented on #48
Here's a site to find lxml documents of various sizes, some pretty big: http://aiweb.cs.washington.edu/research/projects/xmltk/xmldata/

Tried with a 30MB doc in vscode. Never reached the point where I got error reported. I'll try with incremental support later

[2018-09-27 13:55] angelozerr commented on #48
Cool!

Could you give me the link to download xml and dtd?xsd?

[2018-09-28 13:02] fbricon opened #151 "Bind XML with no grammar constraints to XSD / DTD"
IntelliJ IDEA has this command to automatically generate an XSD schema from an XML file:

![generate-schema](https://user-images.githubusercontent.com/148698/46209686-7d07a400-c2fc-11e8-9608-c5461a9f1877.gif)

Such command would take at least 2 parameters:
- source file URI
- target XSD file URI (optional, would default to source name without extension + ".xsd")

I'd give that issue a very low pri

[2018-09-28 13:15] fbricon opened #152 "Formatting node content inserts new line without proper indentation"
When "format.joinContentLines":false, formatting a node with text in it puts the text in the next line, with no indentation:

![bad-format](https://user-images.githubusercontent.com/148698/46210338-7417d200-c2fe-11e8-8eba-086ab8a0c319.gif)

Both Eclipse and IntelliJ keep the text at the same place. If a new line was to be inserted (which I'm really not sure about), at least some proper indentation

[2018-09-28 13:17] fbricon commented on #152
I actually think adding a new line is wrong, as it definitely changes the data value

[2018-09-28 17:36] angelozerr commented on #144
I'm sorry @fbricon I cannot reproduce?

[2018-09-28 17:36] angelozerr commented on #125
I close it, if you have a problem again, please reopen it.

[2018-09-28 17:36] #125 closed

[2018-09-28 17:38] angelozerr commented on #12
Indeed, I must implement it. My idea is tro try to search doc for value, if not found, I display doc for attribute name. Are you OK?

[2018-09-28 17:40] angelozerr commented on #112
@fbricon your problem should be fixed now. The last thing I must support is the close tag.

[2018-09-28 17:43] fbricon commented on #12
sounds good

[2018-09-28 18:00] fbricon opened #153 "Formatting ignores some indentation within node"
Here's a document using spaces for content and tab indentation in the attribute list:
[code]
The document is supposed to be formatted with spaces.
When calling the formatting command, attributes are aligned except for the last one which keeps its tabs instead of spaces:
[code]
![format-mixed-indentation](https://user-images.githubusercontent.com/148698/46225293-c53bbc00-c326-11e8-884c-eb58822344dd

[2018-10-03 14:41] NikolasKomonen commented on #152
@fbricon

Would a result of

[code]

be the best option?

[2018-10-04 19:35] NikolasKomonen commented on #152
@apupier
So

[code]

should remain as it is when formatted?

Instead of:

[code]

[2018-10-05 14:12] NikolasKomonen opened #155 "More detailed completion for prolog"
Completion Items for these prolog elements:

- version attribute name
- version attribute value (1.0, 2.0)
- encoding attribute name
- encoding attribute value (UTF-8, UTF-16, etc)

[2018-10-05 16:35] NikolasKomonen commented on #153
This isnt a bug, the tabs are part of the content.

[2018-10-05 17:38] fbricon commented on #153
This is not a node's content, but its attributes, which we are formatting explicitly. Indentation should be respected

[2018-10-05 19:18] NikolasKomonen commented on #153
The indentation is being respected, if you change anything else from how it does it now the value is different.

[2018-10-08 09:56] felixfbecker commented on #125
I am still seeing this:

![image](https://user-images.githubusercontent.com/10532611/46602678-21ee6200-caf1-11e8-8e70-5cde6c50ec28.png)

[2018-10-08 10:49] angelozerr commented on #125
I cannot reproduce with Eclipse LSP4e -( @NikolasKomonen have you the same problem than @felixfbecker ?

[2018-10-08 23:28] angelozerr commented on #112
@fbricon I have improved a lot the close tag (works with empty character, indent apply of completion, provide several close tag to close. See the following demo:

![closetag](https://user-images.githubusercontent.com/1932211/46638720-8dbce300-cb62-11e8-9e89-a04de7368f55.gif)

Please closet this issue of it's OK for you.

[2018-10-09 04:04] fbricon commented on #112
Very nice @angelozerr! Me likey

[2018-10-09 04:04] #112 closed

[2018-10-09 04:10] fbricon commented on #91
master fails with
[code]

[2018-10-09 05:31] angelozerr commented on #112
Glad it pleases you @fbricon !

[2018-10-09 05:35] angelozerr commented on #91
It's because of https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/extensions/xsl/XSLURIResolverExtension.java#L34 which tries to export XML Schema of XSL in a directory.

We must provide an export folder (with config or by default). Are you OK with that? Any idea are welcome. I will work on this issue.

[2018-10-09 12:54] fbricon opened #157 "'textDocument/publishDiagnostics' failed with message: Illegal argument: line must be non-negative"
When debugging in vscode, when pasting `<?xml version="1.0" encoding="UTF-8"?>` into a new empty document, the host vscode instance displays an error:

The server sent :
[code]

[2018-10-09 12:57] fbricon commented on #85
Completion is only available once `<?xml` is typed. Should start at `<?` when on the 1st line of the document

[2018-10-09 16:53] #152 closed

[2018-10-09 21:56] angelozerr commented on #91
@fbricon I have tried to fix the problem (deploy is done in "user.home") and I have written test with completion. But it takes a long time because I think  https://www.w3.org/2009/01/xml.xsd takes a long time to compile. I will study this problem...

[2018-10-10 05:45] angelozerr opened #159 "Cache on the file system, XML Schema from http, ftp before loading it"
There are again a big problem of performance (the first time) with some XML Schema (completion and validation can take 1 minute to load the XML Schema).

An example is the load of  schema `https://www.w3.org/2009/01/xml.xsd`  (with namespace `http://www.w3.org/XML/1998/namespace.html`). The consumming time is the http loading stream (not the tree creation structure of XML Schema). It seems that w3

[2018-10-10 05:46] angelozerr commented on #73
I close thise issue because it was implemented since long time. You can see the result: the first time validation takes time, the second time it is fast.

But XML takes time each time lsp4xml language server is started. To fix this problem, XMl Schema must be cached (for http and ftp) on the file system. See https://github.com/angelozerr/lsp4xml/issues/159

[2018-10-10 05:46] #73 closed

[2018-10-10 05:47] #91 closed

[2018-10-10 05:47] angelozerr commented on #91
See https://github.com/angelozerr/lsp4xml/issues/159

[2018-10-10 05:50] angelozerr commented on #111
For performance problem (with some XML Schema), I have found it. See https://github.com/angelozerr/lsp4xml/issues/159 I will try to implement it.

[2018-10-10 14:00] fbricon commented on #85
So now we have completion at either `<?` or `<?xml` , but nothing in between

[2018-10-10 14:03] NikolasKomonen commented on #137
@angelozerr We can close this?

[2018-10-10 15:31] angelozerr commented on #137
Me i have not implemented That but i Can Do it if you wish

[2018-10-10 15:54] fbricon commented on #137
Not sure this is a critical missing piece. It's as fast to add the missing quote manually, if not faster

[2018-10-10 20:23] angelozerr opened #160 "Hyperlink for value of xsi:noNamespaceSchemaLocation"
You should now have that

![image](https://user-images.githubusercontent.com/1932211/46772250-57fd3300-ccf7-11e8-84d4-da935d92a80e.png)

[2018-10-12 15:28] angelozerr commented on #159
@NikolasKomonen I'm working on this issue. I have commited just a new settings useCache, that you could start to integrate in vscode-xml. This settings is to activate cache.

[2018-10-12 15:30] NikolasKomonen commented on #159
@angelozerr alright great, ill check it out.

[2018-10-12 17:02] angelozerr commented on #159
@NikolasKomonen I have committed my work, but it must be cleaned and impoved again.

You can see teh following demo which takes a lot of time to download the FIRST time all XML Schema:

![cacheloading](https://user-images.githubusercontent.com/1932211/46882684-da006f80-ce4f-11e8-9809-7e4d33c71d03.gif)

You can see in the hover (and completion) which XMl Schema is loading. I'm not sure it's a good

[2018-10-12 17:08] angelozerr commented on #160
I close it. If there are problem please reopen it.

[2018-10-12 17:08] #160 closed

[2018-10-12 21:06] fbricon commented on #159
- I haven't checked the code but, how do you ensure 2 running lsp4xml processes won't be writing on the same files concurrently?
- It seems cache is disabled by default. It should be on by default.
- cache directory should be configurable
- I get absolutely nothing (no cached schema, no hover doc, no completion) when editing an xsd file like:

[code]

[2018-10-12 21:09] fbricon commented on #159
I think lsp4xml should embed some default schemas, to avoid that initial performance penalty for, say, xsd or xsl documents

[2018-10-15 07:39] angelozerr opened #163 "Completion for xsi attributes"
Add completion for xsi attributes:

 - `schemaLocation`
 - `noNamespaceSchemaLocation`
 -  `nil`?

See https://www.w3.org/TR/xmlschema-1/#d0e3067

[2018-10-15 07:39] angelozerr opened #164 "Hover for xsi attributes"
Add hover for xsi attributes:

 - `schemaLocation`
 - `noNamespaceSchemaLocation`
 -  `nil`?

See https://www.w3.org/TR/xmlschema-1/#d0e3067

[2018-10-15 14:50] fbricon commented on #159
That's if 2 threads from the same process try to load the same resource. My concern is about 2 different processes, i.e 2 JVMs trying to cache the same resource in a common directory. Think 2 instances of VS Code running.

Still think it's better to have it enabled by default. For one, we'll get faster feedback, second, this doesn't prevent proxy issues, since the resources would still need to be

[2018-10-15 15:33] angelozerr commented on #159
Good catch! How to manage that?

Good catch again :) My fear was I have had implemented that quickly. I prefer enable the cache when all issues (like 2 processes case) will be fixed.

Even if cache is enabled? If you have activated cache, is it possible to debug it?

[2018-10-15 19:28] fbricon commented on #159
In Maven, aether adds a file marker for other processes to know there's a download in progress.
You could also download in a tmp file and rename/move it to the its final destination once download is complete

[2018-10-16 06:18] apupier commented on #159
I'm surprised that Aether is taking care of it. I thought that it was the reason the workspace got corrupted when several jobs were running in parallel. See https://github.com/eclipse/aether-core/pull/4

[2018-10-17 14:02] #89 closed

[2018-10-17 14:03] NikolasKomonen commented on #137
@angelozerr what do you think about

Think we can close this?

[2018-10-17 14:11] angelozerr commented on #137
No please, it's implemented in few minutes, I will do it.

[2018-10-17 20:13] fbricon opened #165 "Incomplete autocompletion for xsl documents"
Given
[code]
There's no autocompletion result for `xsl:template`, even though some other items are proposed:

<img width="684" alt="screen shot 2018-10-17 at 4 09 20 pm" src="https://user-images.githubusercontent.com/148698/47113479-29b3b200-d227-11e8-9443-5df67381745b.png">

[2018-10-18 19:15] #85 closed

[2018-10-18 19:16] fbricon commented on #165
@angelozerr any idea why?

[2018-10-19 09:56] angelozerr commented on #165
Yes I see the problem, `xsl:declaration` is marked as `abstract `

[code]
and `template` is marked as `substitutionGroup="xsl:declaration"`

[code]

In other words, xsl:declaration must not be returned by completion, but template, and other element marked with  `substitutionGroup="xsl:declaration"` must be returned.

Fix will come soon.

[2018-10-19 10:35] #165 closed

[2018-10-19 10:38] angelozerr commented on #144
@fbricon this issue is annoying because it works for me on Windows OS and tests https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/test/java/org/eclipse/lsp4xml/extensions/contentmodel/XMLSchemaDiagnosticsTest.java#L202 is passing.

@NikolasKomonen have you the same problem?

[2018-10-19 10:41] angelozerr commented on #57
It misses some code actions, I think, but we will create new issue for that. Now we can add any code actions with extensions.

[2018-10-19 10:41] #57 closed

[2018-10-19 10:51] angelozerr opened #166 "Add pom.xml extension"
It should be cool to create a new maven project extension to:

 * have some completion like:

![image](https://user-images.githubusercontent.com/1932211/47214170-699ca580-d39d-11e8-89c5-e14aed3194e0.png)

 * have validation for the directory declaration
 * have completion for deprendency
 * have codelens for dependency like https://github.com/angelozerr/lsp4xml/issues/55

and other ideas...

It sh

[2018-10-19 11:05] angelozerr opened #167 "Add web.xml extension"
Create a web.xml extension to provide compeltion, validation, hyperlink

Here a sample:

[code]

 * completion for servlet-mapping/servlet-name/#text (here ssi because servlet/servlet-name/#text define it)
 *  validation for servlet-mapping/servlet-name/#text (ex: XXX will publish errors)
 * hyperlink for servlet-mapping/servlet-name/#text will go to servlet/servlet-name/#text

and other ideas.

[2018-10-19 11:14] angelozerr opened #168 "Manage custom completion, validation, hyperlink with XPath system"
Managing custom completion, validation, hyperlink is often the same thing (ex: completion on files, on other XML elements, etc).

Using a system XPath can be really easy to add completion. Takes a sample:

[code]
here we wish to manage

 * completion for servlet-mapping/servlet-name/#text (here ssi because servlet/servlet-name/#text define it)
 *  validation for servlet-mapping/servlet-name/#text

[2018-10-19 14:17] angelozerr commented on #159
@fbricon @apupier I have improved the cache feature:

 * I'm using file temp to download XML Schema/DTD
 * I mark the XML document element as warning to tell that the XML Schema takes too time to download it. The validation is redone once the XML Schema is reload it.

As it's a complex feature and I'm not sure that there are bugs, I have not enabled the cache by default. Please play with this feat

[2018-10-19 14:40] angelozerr commented on #148
I love this idea, but I'm afraid that it's an hard work. @ifedorenko is there any chance that you could work on this feature? If yes, tell me and I will initialize support extension for definition, that you will able to implement it in `extensions/contentmodel`.

[2018-10-19 14:56] ifedorenko commented on #148
no, I do not currently plan to work on this enhancement.

[2018-10-19 15:29] fbricon opened #169 "Add preference to align attributes to tag vs simply indent them"
Following up on #100, currently when attributes are formatted 1 per line, they're aligned on the tag. Which can be fine in some case, but not to the taste of everybody. There should be a preference that allows to simply indent them instead (default Eclipse behaviour).
So for instance, with `"xml.format.alignAttributesWithTag": true` :
[code]

and with `"xml.format.alignAttributesWithTag": false`
[

[2018-10-19 16:10] NikolasKomonen commented on #169
Does this look fine after a format:

[code]

[2018-10-19 17:16] fbricon commented on #169
Yes looks pretty good

[2018-10-23 09:44] angelozerr commented on #148
Ok thanks for your answer. I have initialized the definition participant.

[2018-10-23 19:03] NikolasKomonen commented on #163
@angelozerr Think I can work on this?

[2018-10-23 19:54] angelozerr commented on #163
yes sure!

[2018-10-23 19:57] angelozerr commented on #168
@fbricon  @NikolasKomonen I will try to study this issue. If I can implement it, I think it will be easy to add advanced features for a lot of XML files (web.xml, pom.xml, etc).

Please give me your feedback.

[2018-10-24 20:12] angelozerr opened #172 "XMLDocument should implement org.w3c.dom.*"
To support XPath feature required in

 * https://github.com/angelozerr/lsp4xml/issues/134
 * https://github.com/angelozerr/lsp4xml/issues/168

XMLDocument , Node, Element, etc must implement  org.w3c.dom.*. I will work on this issue.

[2018-10-25 15:47] angelozerr commented on #172
@fbricon @NikolasKomonen now XMLDocument, Element, etc implement org.w3c.dom interfaces and we can benefit with XPath. You can find a test with XPath at https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/test/java/org/eclipse/lsp4xml/dom/XMLDocumentTest.java#L64

Please note this test uses basic XPath. I have not implemented the whole org.w3c.dom interfaces. We should do tha

[2018-10-27 06:32] #172 closed

[2018-10-28 14:44] fbricon opened #174 "[regression] schema file association no longer works with relative paths"
With the latest vscode-xml build and with IBM's file association examples, when using:

[code]

The validation of files under `/Users/fbricon/Downloads/sample-resources 3/` fails with:

[xml] cvc-elt.1.a: Cannot find the declaration of element 'invoice'. [cvc-elt.1.a]
[xml] schema_reference.4: Failed to read schema document 'file:///Users/fbricon/Downloads/file_association/invoice.xsd', because 1)

[2018-10-28 15:07] fbricon opened #175 "Document should automatically validate against schema with the same base name"
If I have a file foo.xml,  if no schema is specified (directly or through file association) but there's a foo.xsd in the same directory, then most likely that should be the inferred schema.

[2018-10-28 16:05] fbricon opened #176 "Cache doesn't seem to work for web.xml"
With the following web.xml:
[code]
validation is very slow to kick in. Every time the vscode-xml extension is restarted, the 1st time the web.xml is accessed, it's still super slow. Looks like it doesn't leverage the caching mechanism (no web-app_3_1.xsd stored in ~/.lsp4xml).

Moreover, once the validation eventually kicks in, autocompletion doesn't provide the expected results. You need to close

[2018-10-28 16:30] fbricon commented on #166
Dependency completion might belong to a jdt.ls extension instead, as you need to load the Maven model to know about dependencies in dependencyManagement, from the pom hierarchy. But I guess this is debatable

[2018-10-28 17:06] angelozerr commented on #176
@fbricon have you enabled useCache? By default cache is not enabled.

[2018-10-28 18:01] ehigiepaul opened #177 "no validation or code completion on nested elements"
Good day,
I was referred by @angelozerr to report the issue I have using Red hat vscode xml extension.

I created a custom xsd schema for a xml file. Am using Vscode with Red hat vscode-xml extension.

The schema works for only the top elements giving me all its attributes and validation from my xsd file but not on the nested elements in the xml file.

I used the same xsd schema file in Jetbrain I

[2018-10-28 18:42] fbricon commented on #176
Damn, got bitten, **again**, by useCache not being turned on by default. We should definitely enable it by default.

[2018-10-28 18:42] #176 closed

[2018-10-28 18:53] fbricon commented on #159
I've tried opening 2 web.xml files simultaneously from the same vscode instance (with useCache turned on), each containing an error. I didn't see any corrupt files. The only weird thing is that only one of them got a diagnostic stating schema was being downloaded. That was once validated once downloads were completed. The other one was showing the download in progress message on hover, but no vali

[2018-10-28 19:15] #169 closed

[2018-10-28 21:39] angelozerr commented on #159
Fixed with https://github.com/angelozerr/lsp4xml/commit/8348cc6f0b117d38ee8cfe1edf3f88eb7ce6aa82

[2018-10-29 03:59] angelozerr commented on #177
Problem ame from tht use of `xs:any`. I have fixed the problem with completion.

For validation, it should work since Xerces is ised to validate the XML content. You should have the same validation between vscode-xml and Intellij  (I think Intellij  uses Xerces too).

[2018-10-29 04:04] ehigiepaul commented on #177
@angelozerr thanks for the fast fix, I will try it out now.

[2018-10-29 05:17] ehigiepaul commented on #177
Had some issue to build the lsp4xml but succeeded by changing the protocol to http due to ssl problem.
But after this fix and successful build. Am happy to say that it **works like a charm**. Thanks for this amazing support. I wish you all the best in all you future plan.

[2018-10-29 07:13] angelozerr commented on #177
Glad it works for you.

[2018-10-29 08:31] angelozerr commented on #175
Eclipse WTP XML Editor do not support this feature. Are you sure it's an interesting feature?

[2018-10-29 08:31] angelozerr commented on #174
I have tried to fix it, please tell me if it works better.

[2018-10-29 08:32] angelozerr commented on #159
@fbricon can we close this issue?

[2018-10-29 11:47] angelozerr commented on #144
@fbricon I can reproduce your issue!

To reproduce your problem, you need to open 2 XML files which are linked to an XML Schema which have no target namespace:

 * for instance open the invocie.xml. It stores in Xerces cache the XML Schema invoice.xsd with target namespace null as key (it's Xerces code)
 * open the resources.xml, it uses the ML Schema invoice.xsd  that's why you have your bug.

To

[2018-10-29 12:10] angelozerr commented on #144
As WTP uses XIncludeAwareParserConfiguration, I decide to do the same thing.

@fbricon tell me if it fixes your problem.

[2018-10-29 12:44] fbricon commented on #174
@angelozerr nothing changed. Still showing the exact same errors

[2018-10-29 12:57] fbricon commented on #144
can't we bind one parserconfiguration to one document? so that caching would be scoped to that particular document

[2018-10-29 13:20] fbricon commented on #175
I think it can be useful. Although not a priority.
But I'm fine waiting to see if users vote for this issue.

[2018-10-29 14:38] fbricon opened #178 "No completion nor validation when editing an xsd schema"
[code]

[2018-10-29 16:00] Icewave opened #179 "Fallback to file associations if specified schema file isn't found?"
If the schema file referenced by an xml file points to an invalid path (file not found), is it possible to fallback to the file associations to select a known schema? I have my file associations created, but they are not looked at unless i remove `xsi:noNamespaceSchemaLocation="scriptproperties.xsd"` from the document.

Could this behavior be added? perhaps as an option?

[2018-10-29 17:42] fbricon commented on #179
@angelozerr ^^ is this possible?

[2018-10-29 17:44] fbricon commented on #179
@angelozerr  is there an error/warning if schema can't be found?

[2018-10-29 19:37] angelozerr commented on #179
For the moment, I have no idea how to do that.

[2018-10-29 19:55] NikolasKomonen commented on #163
@angelozerr Would you recommend I create a new IXMLExtension implementation for this issue. Or should I put it into an existing class like ContentModelPlugin or XMLReferencesPlugin?

[2018-10-29 19:58] angelozerr commented on #163
ContentModelCompletionParticipant is  good I think.

[2018-10-29 20:38] ehigiepaul commented on #178
same here too.

[2018-10-29 20:40] ehigiepaul commented on #177
Sorry but have to reopen this again. The completion is working fine but not validation available anymore

[2018-10-29 21:02] ehigiepaul opened #180 "No validation available anymore on xml files"
Hi,
Thank for the fix on the nested completions issue, but i noticed the validation is not available anymore.
And still have red swirling line on my first root element.

Here is an example

![xml validation error](https://user-images.githubusercontent.com/8577824/47680118-43111280-dbc6-11e8-8785-c33dff3558f2.gif)

[2018-10-30 07:17] angelozerr commented on #174
I'm not sure, but I suspect problem comes from https://github.com/angelozerr/lsp4xml/issues/142

[2018-10-30 08:04] angelozerr commented on #174
@fbricon could you give me a screenshot of your vscode to see which folder is your working directory, and try to have the same condition than you (I cannot reproduice it). Thanks!

[2018-10-30 08:12] angelozerr commented on #174
My question is what is your rootUri?:

 - `/Users/fbricon/Downloads/sample-resources 3/`
 - or` /Users/fbricon/Downloads`

It seems your root uri is `/Users/fbricon/Downloads`.

In LSP4e, I have an Eclipse project "sample-resources 3" linked to `/Users/fbricon/Downloads/sample-resources 3/` and my rootUri is  ` /Users/fbricon/Downloads/sample-resources 3` so after concatenation, I have the well XM

[2018-10-30 08:31] angelozerr commented on #180
What is the error in the Page element?

[2018-10-30 08:52] ehigiepaul commented on #180
[xml] cvc-elt.1.a: Cannot find the declaration of element 'page'.

[2018-10-30 09:06] angelozerr commented on #180
I think it's because your namespace. As you said when you remove namespace it should work. I have no idea for the moment because it fails when you use a namespace.
[code]

[2018-10-30 09:49] ehigiepaul commented on #180
am also getting this

[2018-10-30 09:55] angelozerr commented on #180
I don't understand?

[2018-10-30 13:45] NikolasKomonen opened #181 "Provide better Error Validation messages."
Improve the clarity of error validation messages.

[2018-10-30 14:02] angelozerr commented on #181
What do you mean with `clarity`? Error message comes from Xerces, you wish to override it?

[2018-10-30 15:20] NikolasKomonen commented on #181
@fbricon yes, for example

[code]
Gives the output:

[xml] cvc-complex-type.2.4.a: Invalid content was found starting with element '{"http://maven.apache.org/POM/4.0.0":a}'. One of '{"http://maven.apache.org/POM/4.0.0":parent, "http://maven.apache.org/POM/4.0.0":name, "http://maven.apache.org/POM/4.0.0":description, "http://maven.apache.org/POM/4.0.0":url, "http://maven.apache.org/POM/4.0.0":incep

[2018-10-30 15:20] angelozerr opened #182 "Hover doesn't work when xs:annotation is declared in type and not element"
When you hover sevlet, servlet-name from web.xml it should display documentation, but it doesn't work.

[2018-10-30 15:22] #182 closed

[2018-10-30 15:23] angelozerr commented on #182
This issue should be fixed, now you should see this hover:

![image](https://user-images.githubusercontent.com/1932211/47729227-127db700-dc60-11e8-9934-32314a7cedd0.png)

[2018-10-30 15:26] angelozerr commented on #181
I understand your idea, but I'm not sure that's a good idea to override messages. Those messages comes from Xerces and you can use google to understand more your problem, because Xerces is used in an so many project like IJ IDE, Eclipse, etc.

@fbricon what do you think about this issue?

[2018-10-30 15:33] fbricon commented on #181
From a user standpoint, those messages are not super useful (dare I say horrible?) as they're very hard to parse.
From a technical standpoint, I understand it can be tricky to override.
Now let's keep that issue open for now, as we have other stuff to fix first, but anyone having an idea on how to make it right can chime in.

[2018-10-30 16:08] NikolasKomonen opened #183 "Provide information on POM 'properties' variables"
In a pom if a property is defined:

[code]

allow the user to see value of:

[code]

through maybe a hover or go to definition.

[2018-10-30 16:22] angelozerr commented on #183
I love this idea. This feature should be hosted in teh pom.xml extension plugin https://github.com/angelozerr/lsp4xml/issues/166

[2018-10-30 19:17] fbricon commented on #183
Again, this requires loading the Maven models and inspecting them to compute the property values. See https://github.com/angelozerr/lsp4xml/issues/166#issuecomment-433720444

[2018-10-30 19:56] angelozerr commented on #174
@fbricon I cannot fix this issue since I cannot reproduce it -( I will try to understand how I could reproduce the problem

[2018-10-30 19:57] angelozerr commented on #144
@fbricon I cannot fix this issue since I cannot reproduce it -( I will try to understand how I could reproduce the problem

Yes we could do that, but performances seems good, we will see if we need that in the future.

[2018-10-31 05:30] fbricon commented on #174
I tracked the issue to XMLFileAssociationResolverExtension.expandSystemId(). The rootUri is correct, but Xerces' XMLEntityManager.expandSystemId computes the expandSystemId to one folder up the root directory:
<img width="1139" alt="screen shot 2018-10-31 at 1 26 55 am" src="https://user-images.githubusercontent.com/148698/47767967-60201100-dcac-11e8-80fc-2c3b634ee9d8.png">

[2018-10-31 06:05] fbricon commented on #174
The problem seems to be caused by rootUri lacking the ending slash. If the root uri is sanitized to add that missing `/`, it works.

[2018-10-31 11:02] angelozerr commented on #163
You mean using an XML Schema? If it exists an XML Schema for XMLSchema-instance it should be cool to use it, otherwise we need to hard coded that (I think we should do that, but please check that it exists a XMLSchema-instance XML Schema).

[2018-10-31 11:05] angelozerr commented on #174
Thanks for your feedback @fbricon ! I will try to have the same context than you and fix the problem.

[2018-10-31 14:57] angelozerr commented on #174
@fbricon I have fixed the problem for file associations and write tests. Tell me if it works now for you.

[2018-10-31 14:58] NikolasKomonen commented on #163
@angelozerr I found that https://www.w3.org/2001/XMLSchema-instance == https://www.w3.org/2001/XMLSchema-instance.xsd . If you use a web browser to view the page source it has the xsd.

Im trying to use [the loader here](https://github.com/angelozerr/lsp4xml/blob/8a5444e05f5c010f1048d31f7d43dabafd6a3ca2/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/extensions/contentmodel/model/ContentMode

[2018-10-31 14:59] angelozerr commented on #144
I don't understand, it should not be linked? I have fixed rootURI for file associations, but I'm sceptical that it fixes this issue? Please give me feedback.

[2018-10-31 15:31] angelozerr commented on #163
An interesting topic about this XMLSchema is https://stackoverflow.com/questions/17094247/where-is-the-xsd-file-for-http-www-w3-org-2001-xmlschema-instance

You can view source of this XML Schema  with Chrome: `view-source:https://www.w3.org/2001/XMLSchema-instance` but it says

`This schema should never be used as such: the XML Schema Recommendation forbids the declaration of attributes in this n

[2018-10-31 15:46] fbricon commented on #144
You're right, this is irrelevant. It's working for me now anyway.

[2018-10-31 15:46] #144 closed

[2018-10-31 15:59] NikolasKomonen commented on #163
@angelozerr  I agree, hard coding should be good. I'll work on completion for now.

[2018-10-31 16:04] angelozerr opened #184 "[regression] XSL files have errors in xsl:stylesheet"
I think it's a regression, but when I open XSL file, I have this error:

![image](https://user-images.githubusercontent.com/1932211/47801663-f1d06280-dd2e-11e8-9ff9-3127000ca2b7.png)

I'm working on this issue.

[2018-10-31 16:19] angelozerr commented on #163
Very cool! Thanks!

[2018-10-31 16:24] angelozerr commented on #178
I'm working on this issue.

[2018-10-31 16:44] #184 closed

[2018-10-31 16:45] angelozerr commented on #111
@felixfbecker please reinstall last version of vscode, https://github.com/angelozerr/lsp4xml/issues/159 should fix your problem.

[2018-10-31 16:46] angelozerr commented on #111
@fbricon I think we can close this issue, since https://github.com/angelozerr/lsp4xml/issues/159 should fix the performance problem.

[2018-10-31 17:56] fbricon opened #185 "Insert required attribute code action inserts bad placeholder"
See
![insert-req](https://user-images.githubusercontent.com/148698/47808347-91342c00-dd14-11e8-9b1c-d0ce356147f9.gif)

[code]

[2018-10-31 18:31] fbricon commented on #174
So relative path works now for file association, but then, in some cases, not all, I run into #180. Will try to provide more context on that bug

[2018-10-31 18:31] #174 closed

[2018-10-31 18:45] fbricon commented on #111
@angelozerr speed is now good, however I can't seem to get any hover result when editing an xsd file. Is it supposed to work?

[2018-10-31 19:47] fbricon commented on #180
This is really weird. I got file association working, with validation errors showing up as expected, but once the top level element is fine, the server ignores all other errors, only complaining about `[xml] cvc-elt.1.a: Cannot find the declaration of element 'resources'. [cvc-elt.1.a]`

Attached is a set of xml and xsd files. no-association-* files behave properly, *-resource.xml files are associ

[2018-10-31 20:14] fbricon opened #186 "xsd files can only be edited if useCache is enabled"
Given:
[code]

when useCache is disabled, the document fails to validate (even if stuff was cached in .lsp4xml before). I get:
- error: cvc-elt.1.a: Cannot find the declaration of element 'xs:schema'.
- warning: schema_reference.4: Failed to read schema document 'http://www.w3.org/2001/XMLSchema.xsd', because 1) could not find the document; 2) the document could not be read; 3) the root element of

[2018-10-31 20:15] fbricon commented on #186
No matter what if useCache=false, it should not produce any errors.

[2018-10-31 20:37] angelozerr commented on #186
Thanks for the feedback, I will try that and Im' working on xsd extension in https://github.com/angelozerr/lsp4xml/issues/178

[2018-10-31 22:51] ehigiepaul commented on #180
The relative or absolute path works fine for me.

[code]
![lsp4xml](https://user-images.githubusercontent.com/8577824/47823270-c9b12580-dd67-11e8-85a9-f7b476f47eec.gif)

this on windows.

[2018-11-01 10:03] angelozerr commented on #180
grrrrrrrrr so many problem with file associations. I must really write more tests! I will work on that tomorrow.

@fbricon is completion working?

[2018-11-01 11:29] angelozerr commented on #111
It should work, another bug -(

[2018-11-02 11:06] angelozerr commented on #186
@fbricon I think https://github.com/angelozerr/lsp4xml/commit/896776438519fcdf91a51c600cebc0f582799e2d should fix a lot of problem that you have with file assocoiation, this issue, the https://github.com/angelozerr/lsp4xml/issues/178 but I'm writing a lot of test to check that

[2018-11-02 13:56] NikolasKomonen commented on #185
CodeActions do not support snippets at the moment.

[2018-11-02 13:56] #185 closed

[2018-11-02 14:19] angelozerr commented on #185
Yes that's why I disable it.

[2018-11-02 14:35] angelozerr commented on #159
Change useCache to Boolean should work, no?

[2018-11-02 14:45] angelozerr commented on #159
https://github.com/angelozerr/lsp4xml/commit/77a8011f329f0923ebd1021b73af8b741471a0b1 should fix that

[2018-11-02 14:57] NikolasKomonen commented on #121
@angelozerr Think this is something I can work on?

[2018-11-02 15:00] fbricon commented on #178
8967764 doesn't fix this issue for the moment

[2018-11-02 15:02] fbricon commented on #180
Yeah completion is working. It's the validation of good files that fails. Latest changes in 8967764 didn't help.

[2018-11-02 15:06] angelozerr commented on #121
Yes sure!

[2018-11-02 15:08] angelozerr commented on #178
@fbricon you must wait for around 1 minutes before having validation and completion (it's not usable)

[2018-11-02 15:26] fbricon opened #188 ""format.splitAttributes:true" adds excessive indentation"
Having "format.splitAttributes:true", given:
[code]
results in weirdly formatted xml, with too many indentations:
![splitattributes](https://user-images.githubusercontent.com/148698/47924424-0da04980-de92-11e8-8477-3a4d6f43a121.gif)

[2018-11-02 15:34] angelozerr opened #189 "Support for XSL 3.0"
Embed XSL 3.0

[2018-11-02 15:35] #189 closed

[2018-11-02 15:38] angelozerr commented on #178
Sorry @fbricion, I have not seen that you have not specify some namespace. I'm supporting this feature, a commit will come soon.

[2018-11-02 15:40] angelozerr commented on #159
Thank's @fbricon for your great feedback, I think we start having a robust cache feature.

[2018-11-02 16:01] angelozerr commented on #186
@fbricon is https://github.com/angelozerr/lsp4xml/commit/896776438519fcdf91a51c600cebc0f582799e2d fix this problem (after waiting for one minute)?

[2018-11-02 17:09] angelozerr commented on #178
@fbricon please retry, it should work and if you disable cache, it should be fast too since XML Schema is deployed from classpath.

[2018-11-02 17:41] fbricon commented on #177
Completion shows duplicates of nodes already present in the document:
<img width="653" alt="screen shot 2018-11-02 at 1 40 33 pm" src="https://user-images.githubusercontent.com/148698/47931376-07679880-dea5-11e8-9b0c-4666c8ab9176.png">

[2018-11-02 17:51] fbricon commented on #186
It works now even if useCache=false. Although it actually use a local cache but my understanding is it just unpacks embedded schemas.

[2018-11-02 17:55] fbricon commented on #178
Works nicely now, thanks!

[2018-11-02 17:56] fbricon commented on #178
even when working offline without any cache. Closing.

[2018-11-02 17:56] #178 closed

[2018-11-02 17:56] angelozerr commented on #178
@fbricon test passed now, I think this issue can be closed, please give me feedback.

[2018-11-02 17:57] fbricon commented on #186
If you have tests for it, you can close it now

[2018-11-02 17:57] angelozerr commented on #178
Thanks @fbricon for your feedback.

[2018-11-02 18:04] angelozerr opened #190 "Validate XML Schema"
It should be cool to validate XML Schema types. takes a sample like this:

[code]

Eclipse WTP XML Editor display those following errors:

![image](https://user-images.githubusercontent.com/1932211/47932354-af935680-ded1-11e8-9fef-984a1189de2c.png)

[2018-11-02 18:34] fbricon commented on #180
@angelozerr see https://github.com/angelozerr/lsp4xml/issues/180#issuecomment-434823455
* resources.xsd is at the root of the folder == rootUri
* validation works properly at some point
* validation stops working once the 1st node no longer has errors

[2018-11-02 20:32] fbricon commented on #180
Maybe @snjeza can help troubleshoot the issue

[2018-11-02 20:33] fbricon commented on #180
also using an absolute path for the systemId still yield the same results.

[2018-11-02 22:49] snjeza commented on #180
@fbricon could you try the following:

[code]

[2018-11-02 23:28] fbricon commented on #180
Now that fix has some side effects:
[code]

[2018-11-02 23:50] snjeza commented on #180
[code]

[2018-11-03 01:15] angelozerr commented on #180
Thanks @snjeza for your work. I see know the problem, I will try to fix ASAP, thanks again!

[2018-11-03 04:47] fbricon opened #192 "Hover when writing XSDs"
follow up on #111. Completion now works but hover doesn't on any of the nodes or attributes of an xsd document. Ex:
[code]

[2018-11-03 04:48] fbricon commented on #111
Let's close this one about completion. Hover will be handle in #192

[2018-11-03 04:48] #111 closed

[2018-11-03 05:03] angelozerr commented on #180
@fbricon It should work now. You have tests at https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/test/java/org/eclipse/lsp4xml/extensions/contentmodel/XMLFileAssociationsDiagnosticsTest.java and https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/test/java/org/eclipse/lsp4xml/extensions/contentmodel/XMLFileAssociationsCompletionTest.java for file assoc

[2018-11-03 05:14] fbricon commented on #180
Everything works now. Closing.

Thanks!

[2018-11-03 06:06] fbricon commented on #56
Is it complete now? Because we can navigate to schemas defined in xsi:noNamespaceSchemaLocation for instance.

web.xml hyperlink is a specific use case I wouldn't worry about for now.

[2018-11-03 07:50] angelozerr commented on #186
Yes it's exaclty that, XML Schemas, dtd from classpath https://github.com/angelozerr/lsp4xml/tree/master/org.eclipse.lsp4xml/src/main/resources/schemas are deployed in the cache folder, exactly the same folder when cache is enabled.

Today test disable cache, because using cache means asynch validation, etc

Test for XSD are:

 * for validation, see https://github.com/angelozerr/lsp4xml/blob/maste

[2018-11-03 07:50] #186 closed

[2018-11-03 08:17] angelozerr commented on #56
yes extension is done

exactly and it exists test for this feature at https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/test/java/org/eclipse/lsp4xml/extensions/contentmodel/XMLSchemaDocumentLinkTest.java

[2018-11-03 08:17] #56 closed

[2018-11-03 08:21] angelozerr opened #193 "XML Schema go to type"
XML Schema defines type which can be linked (with @base, @type attribute, etc). it should be cool to manage hyperlink (with https://microsoft.github.io/language-server-protocol/specification#textDocument_typeDefinition ?) and references for those types.

It should b ecool to manag ethat with XPath with https://github.com/angelozerr/lsp4xml/issues/168

[2018-11-03 13:55] fbricon commented on #177
Can no longer reproduce the duplicates issue. Closing

[2018-11-03 13:55] #177 closed

[2018-11-04 04:31] ehigiepaul commented on #180
Am still getting the same issue. Still no validation and still i have this error at the end of my xml root tag

Here my xsd schema
[tns.zip](https://github.com/angelozerr/lsp4xml/files/2545570/tns.zip)

xml sample

	<ScrollView>
		<StackLayout class="home-panel" width="should have number" >

			<Label textWrap="true" text="Play with NativeScript!" class="h2 description-label" />
			<Label textWrap

[2018-11-04 06:03] fbricon commented on #180
Works for me on my Linux box with Java 9. I don't have my Mac handy, but I
never saw that error, while testing this xsd before.
Maybe a Windows thing? What version of Java are you using?
Can you try removing the regexp in BindingValidator in your xsd?

On Sun, Nov 4, 2018, 00:31 Paul Ehigie <notifications@github.com wrote:

[2018-11-04 06:08] fbricon commented on #180
I can reproduce the error if I unescape the BindingValidator pattern. Does your version add backslashes before the brackets?

[2018-11-04 06:17] fbricon commented on #180
However I found another bug related to attribute validation: attributes of the root node are validated, but not those from the inner nodes.

[2018-11-04 06:22] #193 closed, assigned to nobody

[2018-11-04 09:50] angelozerr commented on #193
Indeed thanks.

[2018-11-04 09:55] angelozerr commented on #148
I would like to try to manage those defintion type with XPath with #168. The idea is just to declare references with Xpath between type, ex :

[code]

If we take this sample

[code]

the below XPath from/to declaration will manage

 * completion
 * hyperlink
 * references
 * validation

[2018-11-04 10:00] ehigiepaul commented on #180
@fbricon  thanks for the fix on my BindingValidator pattern, the red swirling line gone, validation works on the root node but not on the nested. You guys are almost done.

[2018-11-04 15:12] fbricon commented on #180
I actually get the same results in Intellij Idea, which makes me thinks
it's more likely an issue with the schema itself. And this is not related
to file association either, since referencing the schema
via noNamespaceSchemaLocation yields the same thing.

On Sun, Nov 4, 2018 at 9:24 AM Angelo <notifications@github.com> wrote:

--
"Have you tried turning it off and on again" - The IT Crowd
And if

[2018-11-05 12:05] angelozerr commented on #190
@fbricon this issue starts working:

![image](https://user-images.githubusercontent.com/1932211/47997220-64f52280-e0fb-11e8-8f61-ec046b0ca3b4.png)

I'm writing tests and after I will able to commit my work, can I do that or you prefer creating release before?

[2018-11-05 12:31] fbricon commented on #190
Open a PR, that way we can test it and if safe to merge before the release, then we'll do that

[2018-11-05 12:47] angelozerr commented on #190
When you think you could do the release?

[2018-11-05 13:18] fbricon commented on #190
Depends on @NikolasKomonen. Hopefully later today or tomorrow, once everything is done. See https://waffle.io/redhat-developer/vscode-xml?milestone=v0.0.2,0.2.0

[2018-11-05 13:42] fbricon opened #194 "Completion from local xsd seems cached too agressively"
Given an xml document:
[code]
and its resources.xsd:
[code]

If you remove `variant="foo"` from the xml doc, a validation error pops up, as expected. Completion within the resources node shows you can add `variant`.
Now if you modify resources.xsd, rename `variant` into `something`, save the file, then make a change in the xml document, you'll see 2 errors, as expected:
- cvc-complex-type.4: Attri

[2018-11-05 13:56] angelozerr commented on #194
Indeed @fbricon I know this problem. It's because cache is done for completion in a very very basic mean at https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/extensions/contentmodel/model/ContentModelManager.java#L138

To fix this issue, we should check if file last modified has changed (the first step), but XML Schema can be too an URL (we cou

[2018-11-05 14:00] fbricon commented on #194
Depends if not caching local schemas has a big impact on perf

[2018-11-05 14:03] angelozerr commented on #194
It's like validation (which doesn't use cache now). If XML Schema is on file system, it's fast.

[2018-11-05 16:30] angelozerr commented on #190
@fbricon I have commited my work but XSD validator is not enable .

If you want to play with it, you must just uncomment https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/extensions/xsd/participants/diagnostics/XSDDiagnosticsParticipant.java#L38

[2018-11-05 16:37] angelozerr commented on #180
Yes it's my conclusion too. I think we can close this issue, no?

[2018-11-05 16:38] fbricon commented on #180
Yup. closing

[2018-11-05 16:38] #180 closed

[2018-11-05 16:39] fbricon commented on #190
I'd have preferred you opened a PR. That commit contains significant changes, even if it's not enabled by default

[2018-11-05 16:55] angelozerr commented on #190
DO you want I revert my work?

[2018-11-05 18:39] fbricon opened #195 "[regression] catalog support broken by cache download"
Initially opened in https://github.com/redhat-developer/vscode-xml/issues/78:

<img width="679" alt="screen shot 2018-11-05 at 11 55 37 am" src="https://user-images.githubusercontent.com/148698/48013215-d0d28d80-e0f1-11e8-99ff-70172c9da825.png">

[code]

to which @angelozerr replied

[2018-11-05 18:48] angelozerr commented on #195
I will Work on this issue

[2018-11-05 22:40] fbricon opened #197 "Add new preference to insert whitespace before closing empty end-tag"
... so that, if enabled:

`<br/>` -> `<br />`
`<foo attribute="bar"/>` -> `<foo attribute="bar" />`

if disabled:

`<br />` -> `<br/>`
`<foo attribute="bar" />` -> `<foo attribute="bar"/>`

Current behaviour is equivalent to having this option enabled

[2018-11-05 23:00] #188 closed

[2018-11-05 23:08] fbricon commented on #194
so +1 to not caching local schema files. Remore URLs should be cached though

[2018-11-05 23:10] fbricon commented on #194
A more robust solution could be implemented later, that'd support remote schemas

[2018-11-06 13:27] fbricon opened #198 "Formatting deletes document's body when there's a DTD declaration"
Formatting this:
[code]

yields
[code]

[2018-11-06 14:32] angelozerr commented on #190
Sorry @fbricon I will do it next time -(

[2018-11-06 14:55] angelozerr commented on #195
@fbricon this bug should be fixed and I write tests for that. Hope tests will work with travis.

[2018-11-06 15:03] fbricon commented on #195
Nope
<img width="721" alt="screen shot 2018-11-06 at 10 02 45 am" src="https://user-images.githubusercontent.com/148698/48072737-39ca0c00-e1ab-11e8-825e-c6c241f2fb76.png">

Catalog should be used instead

[2018-11-06 15:04] fbricon commented on #195
using
[code]

[2018-11-06 15:17] angelozerr commented on #195
I have written a test for that at https://github.com/angelozerr/lsp4xml/commit/2a67ab48a16b1b898be258366130d24ea9d75321#diff-0a00a499003b9792b559241093ba0ebbR87 it should work, perhaps it's a catalog configuration problem?

[2018-11-06 15:19] angelozerr commented on #195
I think the problem is that catalog path must be a file catalog

[code]

In your case, it seems that you wish lsp4j use rootUri, is that?

[2018-11-06 15:20] fbricon commented on #195
yes. it used to work

[2018-11-06 15:30] fbricon commented on #195
Even when using an absolute path, the validation fails to work. Even though ContentModelManager.isXMLCatalogFileValid return true

[2018-11-06 15:33] angelozerr commented on #195
That's strange it works for me? Could you debug XMLCatalogResolverExtension#resolveEntity please.

[2018-11-06 15:52] angelozerr commented on #194
@fbricon I have removed cache for completion. Your usecase should work now. We need to write tests for that.

[2018-11-06 15:59] fbricon commented on #195
I've rebuilt with the latest commit and it works now with an absolute path. XMLCatalogResolverExtension.resolveEntity did resolve before

[2018-11-06 16:09] fbricon commented on #195
works with relative path now too. I'm confused

[2018-11-06 16:12] fbricon commented on #195
Anyways, I'm closing the issue since it now works

[2018-11-06 16:12] #195 closed

[2018-11-06 16:27] fbricon commented on #194
Yes I confirm it works. Please add the tests so we can close it

[2018-11-06 20:28] angelozerr commented on #143
Changing content of XML Schema/DTD should trigger too validation. We could start to trigger validation for all opened XML document and after we could improve it to validate only XML document which is linked to the XML Schema/DTD which changed.

[2018-11-06 21:59] angelozerr commented on #194
Done.

[2018-11-06 21:59] #194 closed

[2018-11-06 22:03] angelozerr commented on #190
@fbricon I'm writting test for this feature. Do you think I can enable it once test will be finished or you prefer waiting for creating release 0.2 before I activate it.

[2018-11-06 23:10] fbricon commented on #190
go ahead. If it breaks something, we'll revert before releasing

[2018-11-07 12:37] angelozerr commented on #190
After writing tests, I have seen that there is some trouble, so I prefer not enabling the XSD validation. I must  study more Xerces source code to understand the problem. In other words you can create release now if you wish.

[2018-11-07 14:46] fbricon opened #201 "CacheResourcesManager keeps trying to download unavailable resources"
When a non existing schema is used, CacheResourcesManager will keep on hitting the bad url on every keystroke.

Failed caching queries should be cached themselves (5 minutes?), so as to avoid unnecessary http requests.

[2018-11-07 16:04] #198 closed

[2018-11-07 16:57] fbricon opened #203 "XSD Completion is a noticeably slower"
See the lsp4xml pom.xml now
![slow](https://user-images.githubusercontent.com/148698/48146988-440c0900-e284-11e8-9742-0c899ff45bee.gif)

vs when using the previous 0.0.1:
![fast](https://user-images.githubusercontent.com/148698/48146977-3bb3ce00-e284-11e8-8a13-8204a1a31288.gif)

[2018-11-07 18:17] fbricon commented on #203
@angelozerr can you fix it?

[2018-11-07 20:16] angelozerr commented on #203
Done quickly, hope it will work.

[2018-11-07 20:19] fbricon opened #204 "Provide automatic completion/validation in catalog file"
Ideally, we should get completion in catalog files:
[code]

[2018-11-07 20:44] fbricon commented on #203
We're back to having a snappy completion. Thanks @angelozerr !

[2018-11-07 20:44] #203 closed

[2018-11-08 07:01] angelozerr commented on #204
To do that we must return the well XML Schema according the xmlns. We have 2 choices:

 * using an XML catalog
 * develop that in Java with a plugin like the XMLPlugin

[2018-11-08 10:38] angelozerr opened #205 "Add log when catalog is loading"
XML catalog configuration is a nightmare to detect the problem when it doesn't work. Problems can occurs from:

 * catalog path configuration (file path is not valid)
 * XML catalog file not valid as syntax XML
 * XML catalag file content configuration

We could already support the 1 problem by logging catalog patch which is valid or not.

[2018-11-08 10:52] angelozerr opened #206 "Support rootUri for XML catalog configuration"
When catalog path is relative:,

[code]

It is not loaded. It should use rootUri workspace.

[2018-11-08 11:40] angelozerr commented on #206
This issue should be fixed. I must write a test yet.

[2018-11-08 12:45] fbricon commented on #206
@angelozerr build is broken!

[2018-11-08 13:13] angelozerr commented on #206
I cannot reproduce the problem wuth my Windows OS -(

[2018-11-08 13:31] angelozerr commented on #206
@fbricon build is fixed but I have disable the fix of this issue. I don't understand why it doesn't work on Travis. In my case on Windows OS, all tests passed.

[2018-11-08 13:32] fbricon commented on #206
ok thanks. Please use PRs until we complete the release.

[2018-11-08 13:47] angelozerr commented on #206
Yes sure! I was too confident. I promise you, I will wait for the release before pushing to master (or create a PR).

[2018-11-08 16:03] NikolasKomonen commented on #121
@angelozerr Is this issue fixed. If not, what is the case for:

[2018-11-08 17:57] fbricon opened #208 "Add completion for xmlns attribute by default"
So we can easily add a schema to the top level node of an xml document
[code]

[2018-11-08 18:50] angelozerr commented on #208
You mean completion on attribute value for xmlns?

If yes, we could use catalog for that?

[2018-11-08 19:43] fbricon commented on #208
to automatically add `xmlns="$0"`

[2018-11-08 22:26] fbricon opened #209 "Multiple `insert required attribute` code actions shown when multiple attributes are missing"
Given an xml document:

[code]

with an invoice.xsd:
[code]

missing both attributes on the product tag generates duplicate code actions:

<img width="323" alt="screen shot 2018-11-08 at 5 20 49 pm" src="https://user-images.githubusercontent.com/148698/48231000-ca0a7b80-e37a-11e8-8603-d60f99ddcbc1.png">

There are as many code actions as there are missing attributes. The server should not send dup

[2018-11-09 04:49] angelozerr commented on #206
I have reactivated and test pass now.

[2018-11-09 04:49] #206 closed

[2018-11-09 04:55] angelozerr commented on #205
This issue was done in https://github.com/angelozerr/lsp4xml/issues/206

If log is enable, you can see :

 * when XML catalog path is OK:

`INFOS: Adding XML catalog './catalog.xml' with expand system id 'file:///C/vscode-xml-test/catalog.xml' and root URI 'file:///C/vscode-xml-test/'.`

 * when XML catalog path is bad :

` Cannot add XML catalog './bad-catalog.xml' with expand system id 'file:///

[2018-11-09 04:55] #205 closed

[2018-11-09 05:52] angelozerr opened #210 "Mark element coming from XML Schema/DTD for completion"
While studying bug with duplicate elements https://github.com/redhat-developer/vscode-xml/issues/78#issuecomment-437049479 I find it should be good to mark the completion elements origin (from XML Schema, from DTD, copy sibling)

A quick idea is to add -  XML Schema:

![image](https://user-images.githubusercontent.com/1932211/48245592-e09ceb00-e3eb-11e8-82ba-8c546162b890.png)

@fbricon @NikolasKom

[2018-11-09 07:47] ralfhandl commented on #210
Will definitely reduce (my :smile:) confusion.

[2018-11-09 09:37] ralfhandl commented on #206
@angelozerr Thanks, works like a charm

[2018-11-09 09:47] ralfhandl commented on #210
On second thought: it would be even better if copy siblings that are also described in XML Schema or DTD are removed from the list, showing only one entry for equally named elements.

[2018-11-09 10:11] angelozerr commented on #210
copy siblings should not done when XML is linked to a grammar. It works like this today when you define a xs:schemaLocation or xsi:noNamespaceShchemaLocation. In your case you have not that, because it uses XML Catalog. It's a bug that I must fix (XMLDocument#hasGrammar should test too grammar coming from XML Catalog). I must fix this bug.

[2018-11-09 11:32] angelozerr opened #211 "Don't add sibling element when completion items is filled with grammar"
In some case (I have just reproduce it once), there is duplicate element (element coming from sibling and element coming from grammar:

![image](https://user-images.githubusercontent.com/1932211/48260281-2f15ae00-e41b-11e8-8409-cdfb637638d4.png)

See https://github.com/angelozerr/lsp4xml/issues/210

This logic should work, but it fails in some case. I cannot reproduce it every time, but to be sure

[2018-11-09 11:35] #211 closed

[2018-11-09 11:35] angelozerr commented on #211
@ralfhandl duplicate element should be fixed.

[2018-11-09 13:02] ralfhandl commented on #211
+1: works!

[2018-11-09 16:14] angelozerr opened #212 "Changing the content of catalog.xml should refresh catalogs and trigger validation"
Changing the content of catalog.xml should refresh catalogs and trigger validation of opened XML files.

As configuring XML catalog is  so hard, I think it's an important task. I'm working on this issue.

[2018-11-09 16:20] fbricon commented on #212
Closing as duplicate of #143

[2018-11-09 17:17] angelozerr commented on #212
@fbricon I reopen it because it's not the same feature than https://github.com/angelozerr/lsp4xml/issues/143

Indeed this issue is when you save a XML catalog file and when you change the XML catalog settings (settings.json in vscode).

[2018-11-09 17:21] angelozerr commented on #212
@fbricon I have implemented a save support action. We will able to to use to implement #143

Here a demo:

![212](https://user-images.githubusercontent.com/1932211/48277857-2c7f7c80-e44c-11e8-9eef-a9bad05f71cf.gif)

@ralfhandl I think this feature could interest you. Hope it will work for you.

[2018-11-09 17:22] angelozerr commented on #212
I close issue,if you it doesn't work, please reopen it.

[2018-11-09 17:22] #212 closed

[2018-11-09 17:25] angelozerr opened #213 "Changing the content of XML Schema should trigger validation"
Changing the content of XMl Schema should trigger validation for opened XML document.

[2018-11-09 21:51] angelozerr commented on #143
It should work. We need to write tests.

[2018-11-09 21:54] angelozerr commented on #121
It seems that it is fixed. I close the issue.

[2018-11-09 21:54] #121 closed

[2018-11-09 22:58] angelozerr commented on #204
@ralfhandl I think you could be interested with this issue: Please give us feedback

[2018-11-10 18:28] angelozerr opened #214 "XML Schema completion prefix doesn't work in some case"
See https://github.com/redhat-developer/vscode-xml/issues/78#issuecomment-437049479

![image](https://user-images.githubusercontent.com/1932211/48304737-bd268d00-e51e-11e8-8348-3b2d84a69442.png)

[2018-11-10 22:40] angelozerr commented on #214
@ralfhandl it should work now

[2018-11-12 08:40] angelozerr opened #215 "Some managers like ContentModelManager, URIResolverManagerExtension should not be a singleton"
When I try to implement https://github.com/angelozerr/lsp4xml/issues/204 by adding a new simple URIResolver https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/extensions/catalog/XMLCatalogURIResolverExtension.java it breaks tests. It's so crazy:

 * when I launch the all tests, some tests failed.
 * when I launch only a test which has failed, it

[2018-11-12 09:06] ralfhandl commented on #214
+1: works fine with http://download.jboss.org/jbosstools/vscode-xml/staging/vscode-xml-0.3.0-500.vsix

[2018-11-12 09:10] angelozerr commented on #214
Thanks for your feedback @ralfhandl !

I would like to write test about this issue, but I fear I cannot use your XML Schema because IP validation.

Do you think it's possible for you to write a very simply XML Schema which provide your use case, I could use it for tests. Thanks for your help!

[2018-11-12 09:29] martinlippert opened #216 "how to extend the XML language server for custom completions"
I am exploring options how to use this XML language server for building support for very specific XML files where we would be able to implement various completions and references for values inside of the XML documents, maybe even across various XML files. Would that be possible somehow? And if it is possible, what would be the best approach?

I don't want to fork the project and build my own XML l

[2018-11-12 09:36] ralfhandl commented on #214
@angelozerr You can use these XML schemas without fear of IP validation, they are publicly available at https://github.com/oasis-tcs/odata-csdl-schemas as part of the [OASIS standard "Open Data Protocol"](https://www.oasis-open.org/committees/tc_home.php?wg_abbrev=odata), which uses the "RF on RAND" license, "RF" meaning "royalty-free". And Red Hat is participating in the technical committee drivi

[2018-11-12 09:36] ralfhandl commented on #204
I'd definitely like to have automatic completion/validation of catalog files. Got validation of my catalog.xml working by starting it with

[code]

Now vscode-xml knows how to validate catalog files 😄

Would it be possible to have an "implicit" catalog with these entries that is packed into vscode-xml, together with the catalog XSD? I got http://xmlcatalogs.org/schema/1.1/catalog.xsd from http://x

[2018-11-12 09:51] angelozerr commented on #216
@martinlippert glad you are interested with lsp4xml!

lsp4xml was designed to be extensible and you can write a plugin extension to manage your own completion, references, etc.

For instance we have a POC Emmet support, the basic idea is to:

 * write a plugin: https://github.com/angelozerr/lsp4xml/blob/master/extensions/org.eclipse.lsp4xml.extensions.emmet/src/main/java/org/eclipse/lsp4xml/extens

[2018-11-12 09:57] angelozerr commented on #204
My work with https://github.com/angelozerr/lsp4xml/commit/84391cbe71975afbad90b4a1d6fac3ac2f98bfd2#diff-13747ce199e06fc38bd7e093a60e4a34R34 should call the  http://xmlcatalogs.org/schema/1.1/catalog.xsd from http://xmlcatalogs.org/ when "urn:oasis:names:tc:entity:xmlns:xml:catalog" is declared, it works great in my laptob, but we have test problem that I must fix it to enable it again.

But for th

[2018-11-12 09:58] angelozerr commented on #214
It's perfect! Thank's @ralfhandl for your feedback!

[2018-11-12 12:50] angelozerr commented on #215
This issue should be fixed. There were several JUnit tests which was wrong because they had some dependencies from a previous test (ex: a test which fill content model manager, and after the test used the filled content model manager).

Now we have clean tests.

[2018-11-12 12:52] angelozerr commented on #204
Now https://github.com/angelozerr/lsp4xml/issues/215 was fixed, I have re-enabled XML Catalog plugin. If build tests passed, this issue should be fixed.

[2018-11-12 12:54] angelozerr commented on #204
@ralfhandl build is passing, please retry this issue, thanks!

[2018-11-12 13:26] ralfhandl opened #217 "Validation needs additional <uri> catalog entry"
To make validation and completion work I currently need two catalog entries, e.g.
[code]

From the [XML Catalog specification](https://www.oasis-open.org/committees/download.php/14809/xml-catalogs.html#s.ext.ent) I would have expected to just need the `<uri>` entry because `<public>` is intended for resolving *external identifiers* and expressly *not* for resolving XML namespace names:

However wi

[2018-11-12 13:31] ralfhandl commented on #204
@angelozerr not sure what was fixed/changed: validation and completion of "my" XML files (still) works with build #502.

Validation and completion of catalog files only works if the catalog contains the entry
[code]

Needing `<public>`  instead of (and in other cases in addition to) `<uri>` is still surprising, I have cross-checked with the XML Catalog specification and opened https://github.com/a

[2018-11-12 13:35] fbricon commented on #216
It should be fairly easy to implement extension loading in vscode-xml, similar to what we've done in vscode-java.
However, keep in mind that, when the number of extension increases, we'll quickly face some not-so-funny classloading issues, with extensions bringing conflicting dependencies (e.g. multiple extensions of guava). Not sure this can be fixed with JPMS. Maybe jboss-modules, or OSGi, but I

[2018-11-12 13:39] fbricon commented on #216
@angelozerr you should document lsp4xml extensibility in the readme and/or the wiki

[2018-11-12 13:50] fbricon commented on #215
I've enabled runorder=random in the maven surefire plugin configuration, so we can better catch similar test failures. See https://github.com/angelozerr/lsp4xml/commit/2b80639cf95e2183ff75bf17759599322d00e5e9

[2018-11-12 14:16] angelozerr commented on #215
I didn't know that. Thank @fbricon !

[2018-11-12 14:30] angelozerr commented on #216
Yes sure!

Perhaps we could have a extension which manages that (OSGi, jboss-modules)?

[2018-11-12 14:34] angelozerr commented on #204
Sorry @ralfhandl please reinstall it, now you should have compeltion and validation (based on XML Schema catalog) for :

[code]

Yes sure, but this issue os for your XML catalog file, not for XML files bound to the catalog.

Yes I know. I will study more #217

[2018-11-12 14:36] angelozerr commented on #204
Here a demo:

![catalogcompletionandvalidation](https://user-images.githubusercontent.com/1932211/48353869-b3bd3200-e690-11e8-9e18-c60e5454a48b.gif)

[2018-11-12 14:45] fbricon commented on #216
The key part of my last comment is:

For now, I'd say we keep it simple.

[2018-11-12 14:50] angelozerr commented on #216
Yes sure. We will see in the future if it causes some troubles and will se how we could fix that by keeping simple mean. An idea is to give the capability to override SPI with other class loader, but it's an hard topic.

[2018-11-12 15:36] ralfhandl commented on #204
+1, works now with build #505

[2018-11-12 16:55] angelozerr commented on #217
@ralfhandl I have tried to debug the xml-resolver project but to be honnest I'm a little lost -(

I have tried to use your XML catalog with Eclipse WTP, but only completion is working, the validation doesn't work.

It should be really cool if somebody could help us to know if catalog is valid or not.

[2018-11-12 16:55] #215 closed

[2018-11-12 17:38] ralfhandl commented on #217
@angelozerr Strange. I'm also using Eclipse Photon with the editor from
* Eclipse XML Editors and Tools
* 3.10.0.v201804210200
* org.eclipse.wst.xml_ui.feature.feature.group
* Eclipse Web Tools Platform

The file `...eclipse-workspace-Photon\.metadata\.plugins\org.eclipse.wst.xml.core\user_catalog.xml` only contains `<uri>` entries, e.g.
[code]

Validation and code completion both work fine with t

[2018-11-13 10:59] angelozerr opened #218 "Add warning when XML is not bound to a grammar"
When we try to bound a grammar to a XML file and this binding is not well confured (ex: XML file associations is not well configured, XML catalog not well configured) it's hard to see that.

A proposition si to mark XML root element as warning ("no grammar constraints") like WTP does:

![image](https://user-images.githubusercontent.com/1932211/48409184-6ea20a00-e73b-11e8-889c-f361de294f4d.png)

Th

[2018-11-13 13:35] angelozerr commented on #217
@ralfhandl once build will be finished, please retry it.

[2018-11-13 13:40] angelozerr commented on #143
It should work now, please give me feedback.

[2018-11-13 13:44] fbricon commented on #217
@angelozerr I assume you'll add some tests ;-)

[2018-11-13 13:46] angelozerr commented on #217
Yes sure @fbricon! It's a reason why I have not closed this issue and other issues of 0.0.3 like https://github.com/angelozerr/lsp4xml/issues/214

[2018-11-13 13:52] fbricon commented on #218
preference value should be an enum: {ignore, hint, info, warning, error}

I'd use hint by default, as I find it less intrusive. It doesn't generate a marker in the problems view in vscode, only in the open file.

[2018-11-13 13:54] angelozerr commented on #218
Perfect!

[2018-11-13 15:06] fbricon opened #219 "Emmet extension tests fail when running with JDK 11"
See:

[code]

[2018-11-13 15:08] angelozerr commented on #219
Before working on Emmet etxtension, we must clarify a thing:

 * do we must embed a Nashorm or other JS engine to support in the future Java 11?
 * do we must rewrite emet js in Java?

[2018-11-13 15:20] fbricon commented on #219
I really don't want us to spend time on emmet support at this point, it's very, very low on my list of priorities. I don't see the added value of emmet compared to completion support via schema.

So if it was up to me, I'd drop emmet support from the core repo at that point, if it prevents the build from running. Now this is your project.

FTR, Javascript support from now on should probably provid

[2018-11-13 15:29] angelozerr commented on #219
My idea is to provide Emmet based on XML Schema and DTD, I think it could be a very cool feature (more than simple completion).

For instance for pom.xml, you type

`dependencies>` and it opens completion with

[code]

when you apply `dependencies>dependency>version` it generates: all XML content.

[2018-11-13 15:32] angelozerr commented on #219
Wrong! It's our project!

Didn't know that, thank's for the info.

[2018-11-13 15:41] ralfhandl commented on #217
@angelozerr works fine with build #506, thanks! My catalog.xml now only contains `<uri>` entries.

[2018-11-13 15:49] angelozerr commented on #217
Great! is there some other issues with XML catalog?

[2018-11-13 16:03] ralfhandl commented on #217
@angelozerr no issues with XML catalogs any more, thanks!

[2018-11-13 16:16] fbricon opened #220 "No document links in catalog's <system uri="..." />"
While testing the examples from https://raw.githubusercontent.com/microclimate-devops/xml-language-server/master/client-vscode/xml-client/readme-resources/examples.zip, when editing catalog/catalog.xml, I don't get an hyperlink from uri="invoice.xsd" to the actual file.

[code]

[2018-11-13 16:18] angelozerr commented on #220
It's because it's not implemented:) It should cool to implement that with https://github.com/angelozerr/lsp4xml/issues/168

[2018-11-13 16:21] fbricon commented on #220
It's fine. Not a priority for now. Let's focus on https://github.com/angelozerr/lsp4xml/milestone/3

[2018-11-13 16:38] angelozerr commented on #220
@fbricon once #168 will be implemented, it will open a lot of features, that we will able to manage with declaration mean with easy mean.

For instance, with just a declaration like

[code]
we could benefit with:

 * hyperlink
 * completion
 * validation

[2018-11-13 17:07] angelozerr commented on #218
@fbricon @NikolasKomonen I have implemented this feature. I must write test yet.

I have choosen `warnNoGrammar` as preference name https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/extensions/contentmodel/settings/ContentModelSettings.java#L26 but if you don't like it, please tell me, I will change it.

[2018-11-13 17:18] fbricon commented on #218
can we call it "problems.noGrammar"? It'll allow us to handle similar messages in the future. And there's no severity implied in the name.

[2018-11-13 17:22] angelozerr commented on #218
You mean having `ContentModelSettings#getProblems()#setNoGrammar(String noGrammar)` ?

[2018-11-13 17:23] fbricon commented on #218
yes

[2018-11-13 17:38] fbricon commented on #106
@NikolasKomonen  what's the status on that one? Can we target 0.0.3?

[2018-11-13 17:45] angelozerr commented on #218
Done @fbricon

[2018-11-13 17:46] fbricon opened #221 "DTD elements are not formatted"
Following up on #90, given:
[code]

Formatting the document ignores the DOCTYPE content.

[2018-11-13 17:47] angelozerr commented on #107
Could you attach your XML content in this issue please.

[2018-11-13 17:49] fbricon commented on #107
[code]

[2018-11-13 17:51] angelozerr commented on #106
@fbricon I'm not sure that @NikolasKomonen is working on that, but if you think it's very important I could work on it.

[2018-11-13 17:54] fbricon commented on #106
Having full Schema and DTD support would pretty much complete the validation stories. The rest is icing on the cake ;-)

[2018-11-13 17:55] angelozerr commented on #106
Ok I will work on it.

[2018-11-13 17:56] fbricon commented on #106
thanks @angelozerr!

[2018-11-13 18:11] angelozerr commented on #107
@fbricon should be fixed and with test too:)

[2018-11-13 18:14] angelozerr commented on #214
I close this issue since tests are passing. Thanks @ralfhandl for your feedback!

[2018-11-13 18:19] fbricon commented on #107
Yup it works.

Now we just need tests for  MSG_CONTENT_INCOMPLETE, MSG_REQUIRED_ATTRIBUTE_NOT_SPECIFIED, MSG_ATTRIBUTE_NOT_DECLARED, MSG_ATTRIBUTE_VALUE_NOT_IN_LIST so we can close that one

[2018-11-13 18:20] angelozerr commented on #107
yes sure, if you can write it or just find sample like you have done previously, it should be very cool.

[2018-11-13 18:21] angelozerr commented on #217
Test works, I close this issue. Thanks @again @ralfhandl !

[2018-11-13 18:21] #217 closed

[2018-11-13 18:22] fbricon commented on #107
There's 3:

[code]
<img width="777" alt="screen shot 2018-11-13 at 1 22 01 pm" src="https://user-images.githubusercontent.com/148698/48434221-238df400-e747-11e8-80c8-46edeacab318.png">

[2018-11-13 18:39] fbricon commented on #107
Another issue (found while checking https://www.tutorialspoint.com/dtd/dtd_attributes.htm examples):
[code]
<img width="884" alt="screen shot 2018-11-13 at 1 37 44 pm" src="https://user-images.githubusercontent.com/148698/48435047-6e107000-e749-11e8-9a64-51b63140db3e.png">

[2018-11-13 18:54] fbricon commented on #107
[code]
<img width="916" alt="screen shot 2018-11-13 at 1 52 30 pm" src="https://user-images.githubusercontent.com/148698/48435901-77024100-e74b-11e8-824a-eb2c49e81c39.png">

Feels like we'll still need to cover a ton of other errors, not listed in DTDErrorCode.java

[2018-11-14 00:42] fbricon opened #222 "".lsp4xml" directory should be configurable"
clients might not be able to write directly to ~/.lsp4xml, the path should be made configurable.

[2018-11-14 08:20] angelozerr commented on #107
WTP don't support it. lsp4xml supports it now.

Done.

@fbricon  please close this issue if you think it's good and you find not another error whihc could be not supported. Thanks!

[2018-11-14 10:20] angelozerr commented on #221
@NikolasKomonen to support DTD completion https://github.com/angelozerr/lsp4xml/issues/106 I need to  improve XMLParser to collect information of DocumentType (see https://en.wikipedia.org/wiki/Document_type_declaration)

The general syntax for a document type declaration is:

[code]
or

[code]

We need not to work together about this parsing feature, so I tell me when you want to work on this for

[2018-11-14 14:36] angelozerr commented on #221
Thanks @NikolasKomonen!

[2018-11-14 14:46] fbricon opened #223 "Provide a dedicated DTD Validator"
if you save http://java.sun.com/dtd/web-app_2_3.dtd locally and open it in VS Code, an error shows up on the 1st ELEMENT, L72. "The markup in the document preceding the root element must be well-formed."
DTDs do not follow the actual xml syntax but are part of the XML spec, so "The markup in the document preceding the root element must be well-formed." (and maybe other specific errors) should be i

[2018-11-14 15:49] NikolasKomonen commented on #221
@angelozerr Just wanted to check if you needed this as soon as possible, or is it fine if I work on another issue first?

[2018-11-14 15:59] angelozerr commented on #221
I can manage with a uggly mean the extract of DTD system uri if you prefere working on another issues.

[2018-11-14 16:48] NikolasKomonen commented on #221
@angelozerr Its fine, I'll be able to work on this now. The other issues are fixed now.

I just want to be sure, the parser should also cover this, eg: `<!ELEMENT foo (#PCDATA)>` for doctypes?

[2018-11-14 17:09] angelozerr commented on #221
For my issue with XML completion based on DTD, I don't need this feature. Me I need to get public, system uri. In otherwords, implement:

 * https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/dom/DocumentType.java#L114
 * https://github.com/angelozerr/lsp4xml/blob/master/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/dom/DocumentType.java

[2018-11-14 18:13] angelozerr opened #225 "Adjust range error for internal DTD declaration"
When internal DTD declaration is done with bad syntax, error is not well adjusted:

![image](https://user-images.githubusercontent.com/1932211/48502997-3684ef00-e841-11e8-9664-863e0e9b7cca.png)

To fix this issue we need that XMLDocument is able to parse DTD declaration (here <!Element).

**UPDATE**
  Implemented Error Codes:

  [Refer here](https://github.com/apache/xerces2-j/blob/trunk/src/org/a

[2018-11-14 18:48] #163 closed

[2018-11-14 19:33] fbricon opened #226 "Outline for DTD file is messed up"
Save http://java.sun.com/dtd/web-app_2_3.dtd locally and open it, you'll see the outline view and breadcrumbs (if "breadcrumbs.enabled": true) look really bad:
<img width="1437" alt="screen shot 2018-11-14 at 2 25 29 pm" src="https://user-images.githubusercontent.com/148698/48507396-d3339680-e819-11e8-809a-2eaba28c632e.png">

[2018-11-14 19:56] fbricon opened #227 "Formatter either adds or removes content in malformed xml"
In this document, a closing bracket is missing L8:
[code]
When invoking the formatter, a closing bracket is added:
![formatter-adds-closing-bracket](https://user-images.githubusercontent.com/148698/48508649-1b07ed00-e81d-11e8-9e8a-146c772c33e3.gif)

Here, closing bracket is also missing L8:
[code]
But then, the formatter removes the line completely!
![formatter-removing-malformed-element](https://

[2018-11-14 19:58] fbricon commented on #227
In this case (missing bracket L9), the formatter works as expected:
[code]

[2018-11-14 19:59] fbricon commented on #227
Looks like malformed closing tags of enclosing elements get removed

[2018-11-14 20:07] angelozerr opened #228 "DTD language service"
Imho i think We should have a dedicated dtdlanguageservice to support with clan mean validation symbol providence completion for externatl DTD. In other words have a dtddocument like We have for xml with xmldocument. Scanner to scan DTD element inside xml could be reused for DTD

[2018-11-14 21:00] angelozerr commented on #226
https://github.com/angelozerr/lsp4xml/issues/228 should fix that

[2018-11-14 21:02] #197 closed

[2018-11-15 13:13] angelozerr commented on #223
@fbricon it shoud work better. Now you should have just DTD syntax error. It misses now adjust error range but to do that I'm waiting for the work of @NikolasKomonen about the improve of parser.

[2018-11-15 15:22] fbricon opened #229 "Deploy lsp4xml to a public Maven repository"
Deploy to either Sonatype's [OSSRH](https://central.sonatype.org/pages/ossrh-guide.html) or [bintray](https://blog.bintray.com/2015/09/17/publishing-your-maven-project-to-bintray/).

Eventually it'd be ideal to have the jars available on Maven Central, but I'd wait for the project to be contributed to the Eclipse Foundation before we do that, as we're using the eclipse.org namespace.

From my expe

[2018-11-15 16:18] fbricon opened #230 "Enable sonarcloud.io on the repository"
The idea is to enable SonarQube static analysis on the project, so we can detect common mistakes or potential bugs in advance.
See https://sonarcloud.io/about. Requires the repository owner to grant access to this repo. So only @angelozerr can do it.

I'll look into enabling code coverage once we get sonarcloud.io up and running.

[2018-11-15 16:42] fbricon commented on #204
@angelozerr are there any tests so we can close this one?

[2018-11-15 16:48] fbricon commented on #48
Seems the server chokes on the [nasa.xml](http://aiweb.cs.washington.edu/research/projects/xmltk/xmldata/data/nasa/nasa.xml) from  http://aiweb.cs.washington.edu/research/projects/xmltk/xmldata/www/repository.html#nasa

Tried with xmx2GB

[2018-11-15 16:56] fbricon commented on #210
Would be even better if the name of the originating schema was used instead of the generic "XML Schema" label

[2018-11-15 17:06] angelozerr commented on #204
No I must write tests.

[2018-11-15 17:07] angelozerr commented on #218
@fbricon I reopen this issue because I must write tests.

[2018-11-15 17:13] angelozerr opened #231 "XMLDocument must support parsing of DTD elements, attributes, entities"
This issue is very important of we wish to support DTD (I mean not validation, completion based on DTD inside XML, but I mean DTD content):

 * completion (ex : <! +ctrl +space provides <!ELEMENT, <!ATTRIBUTE, etc) -> (see https://github.com/angelozerr/lsp4xml/issues/232)
 * outline (for internal DTD inside XML and external DTD) -> document symbol provider (see https://github.com/angelozerr/lsp4xm

[2018-11-15 17:15] angelozerr commented on #228
Not sure this issue is a good idea because a DTD can be declared inside XML content. I'm waiting for https://github.com/angelozerr/lsp4xml/issues/231 to experiment the new XMLDocument and scanner which will support DTD elements, attributes.

[2018-11-15 17:18] angelozerr commented on #223
I close this issue since DTD validator was implemented. It misses tests and adjust error which will be done in https://github.com/angelozerr/lsp4xml/issues/225

[2018-11-15 17:18] #223 closed

[2018-11-15 17:21] angelozerr opened #232 "Completion for DTD <!ELEMENT, <!ATTRIBUTE,"
Support for completion

 * for DTD elements

`<! <- Ctrl+Space shows <!ELEMENTS <!ATTRIBUTE, <!ENTITY`

[2018-11-15 17:24] angelozerr opened #233 "Add support for `textDocument/definition` for DTD"
Support for hyperlink between DTD elements.

[code]

[2018-11-15 17:26] angelozerr opened #234 "Add support for `textDocument/references` for DTD"
Support for references between DTD elements.

[code]

See the demo:

![DTDReferences](https://user-images.githubusercontent.com/1932211/61830733-31664e00-ae6c-11e9-8328-e3e0457d755d.gif)

[2018-11-15 17:32] angelozerr commented on #234
No @fbricon because #58 requires XPath and DTD is not XML, so we need to hard coded that.

[2018-11-15 18:10] angelozerr commented on #48
@fbricon I have added the nasa.xml in the test:

 * for largeFile.xml:

[code]
 * for nasa.xml:

[code]

[2018-11-15 18:15] fbricon commented on #48
try validation, formatting, hover...

[2018-11-15 18:31] angelozerr commented on #107
@fbricon thoses errors are for DTD content. I need parser

[2018-11-15 18:33] fbricon commented on #107
Fair enough. Closing.

[2018-11-15 18:33] #107 closed

[2018-11-16 04:53] Eskibear commented on #166
Is there any update on this? When and where (jdt.ls or lsp4xml, or anywhere else) is it supposed to be implemented?  I mean, it's a good feature for Maven users and I'm just longing for it.

[2018-11-16 09:58] angelozerr commented on #48
Yes sure we need too add thoses tests. But if creation of XMLDocument takes 731ms, I think we will have slow problem.

WTP XML Editor cannot open it too your nasa.xml.

I fear that it will very hard to support very large file. I think a problem is because it's not incremental. Have you tried with "experimental" incremental support?

[2018-11-16 14:29] angelozerr commented on #231
@NikolasKomonen for your work with DTD parser, I suggest you read https://www.w3.org/TR/REC-xml/#dt-doctype to use the well name.

For instance you have defined a custom  DocumentType#getInternalDTD but it's the same thing than  org.w3c.dom.DocumentType#getInternalSubset().

Other idea is prefering to store start/end offset instead of storing the string in the DocumentType. You can see a sample wi

[2018-11-18 18:48] angelozerr commented on #231
@NikolasKomonen pay attention I have done a big refactoring to rename DOM structures (ex: Attr to DOMAttr). I have done that since suggestion of sonar.

[2018-11-20 14:07] akaroml commented on #181
Not familiar with Xerces but can it provide error message in the format of structured data?

[2018-11-20 16:42] NikolasKomonen commented on #181
[Here](https://github.com/apache/xerces2-j/blob/trunk/src/org/apache/xerces/impl/msg/XMLSchemaMessages.properties) are where the messages for schemas are stored in Xerces.

[2018-11-21 10:50] akaroml commented on #181
This is so specific. Thank you for the info.

I have to echo this issue since it's so painful to look at the error info in VS Code. We'll be more confident to recommend this extension to our users with this problem addressed.

[2018-11-21 10:52] angelozerr commented on #106
@fbricon it should starts working (only completion for element and based on external DTD).

I will work for other features like completion on attribute, internal DTD (declared in the XML)

[2018-11-21 10:58] angelozerr commented on #181
I had to do that because I lost Xerces messages. I don't know if it's a clean solution.

To be honnest with you, I have no time to work on this issue. @fbricon @NikolasKomonen is it an important issue for you? Have you planned to work on this issue?

[2018-11-21 14:06] NikolasKomonen commented on #181
@angelozerr I am able to work on this issue after my part for DTD issues.

[2018-11-21 14:10] fbricon commented on #181
There's a ton of possible error messages to override. I suggest we focus on the 5-10 most common ones for starters, see where it goes.

[2018-11-21 15:58] fbricon commented on #181
@akaroml you'll get the exact same error messages from Eclipse or IntelliJ so users should not be surprised here. Is it ok? Not really, but at least we're on the same playing field. You should also consider the other features brought to the table when considering recommending the Red Hat's vscode-xml extension.

[2018-11-22 14:45] adunning opened #237 "Support for Relax NG/Schematron"
It would be absolutely brilliant if this project could reimplement the functionality of the Atom package at <https://github.com/aerhard/linter-autocomplete-jing> to provide validation and autocomplete for XML using Relax NG and Schematron. (This package uses [Jing](https://github.com/relaxng/jing-trang), which the Oxygen XML editor also uses for validation.) These schema languages are widely used

[2018-11-22 15:00] fbricon commented on #237
Can probably be implemented as an extension. However, the team is stretched pretty thin at the moment so it'd be faster if someone provided a PR for that.

@adunning could you add a set of sample xml + schemas so we get an idea of how it works?

[2018-11-22 16:20] adunning commented on #237
Thank you! It's usually a matter of supporting `<?xml-model>` to associate a file with a schema. For example, a basic [DocBook 5.1](https://docbook.org/schemas/5x) file:

[code]

In this case the Relax NG and Schematron schemata are in two separate files, but Schematron rules can also be embedded within an RNG schema, such as the example at <https://github.com/DigitalLatin/caesar-balex/blob/master

[2018-11-22 16:51] angelozerr commented on #237
Thanks @adunning ! Is there any chance that you could contribute to this schematron support? I could help you if you wish to initialize schematron extension.

[2018-11-25 20:04] angelozerr commented on #226
@fbricon I have started to manage DTD ElementDecl and attributes witth teh DOMDocument. Outline should now display DTD <!ELEMENT and <!ATTLIST (external or intenal DTD should work).

For external DTD, I display the DOCTYPE, because external DTD is a DOMDOcument which have only a DOMDocumentType (it's a choice that I have done to continue to work with DOMDocument only, and not have a new structure

[2018-11-25 22:15] fbricon commented on #226
This is indeed much better. But I think AttList support still need some love:

<img width="1024" alt="screen shot 2018-11-25 at 5 14 40 pm" src="https://user-images.githubusercontent.com/148698/48985460-bf1f4d00-f0d5-11e8-86de-3ae43ec3643f.png">

[2018-11-25 22:18] fbricon commented on #226
mmm WTP chose to not even display AttList elements in its outline

[2018-11-26 07:39] angelozerr commented on #221
@NikolasKomonen I think you can work on this formatting issue now. Now you have 3 new structures:

 * DTDElementDecl for <!ELEMENT
 * DTDAttrList  for <!ATTRIBUTES
 * DOMEntity for <!ENTITY

That you can see in the outline. Now you can use it for format. Don't hesitate to update it to improve it according your need for format.

[2018-11-26 21:04] fbricon opened #238 "javax.xml.soap.Node is not vailable in Java 11"
https://github.com/angelozerr/lsp4xml/blob/f04d10452821caa0d6b41883b2637ee87fa1f5ae/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/dom/DOMEntity.java#L13 shows a compilation error when targetting Java 11 compilation

[2018-11-26 21:05] fbricon commented on #238
I'm assuming it's supposed to be org.w3c.dom.Node?

[2018-11-26 21:11] angelozerr commented on #238
Indeed if you wish you Can fix it

Le lundi 26 novembre 2018, Fred Bricon <notifications@github.com> a écrit :

[2018-11-27 15:15] NikolasKomonen commented on #221
@angelozerr Just wondering why you called it 'DOMEntity' and not 'DTDEntity' ?

[2018-11-27 16:30] NikolasKomonen commented on #181
If anyone finds messages they would like to be simplified please post them here.

[2018-11-27 17:07] angelozerr commented on #221
I have done this choice because DOMEntity implements org.w3c.dom.Entity. For the other structures ELEMENT and ATTLIST, it doesn't exists interfaces? I don't know why?

But if you prefer, we can rename it. @fbricon what do you think about that?

[2018-11-27 17:08] fbricon commented on #221
if DOMEntity is meant to be used outside the context of DTD, then you can keep it. Else, if it's specific to DTD usage, renaming it is fine

[2018-11-27 17:10] angelozerr commented on #221
I thinkit's for only DTD. Let's go to rename it.

[2018-11-29 14:41] fbricon opened #239 "Autoclose self-closing tags"
As an improvement to tag autoclosing, if we type `<foo /`, the closing `>` should be added automatically (controlled by a new preference, `autoCloseTags.selfClosingTags.enabled`)

[2018-11-29 23:40] fbricon opened #241 "Misplaced diagnostic for cvc-elt.3.1"
Given this wrong schema:
[code]

the closing bracket after `xsi:nil="true"` is underlined in red:

<img width="1242" alt="screen shot 2018-11-29 at 6 39 12 pm" src="https://user-images.githubusercontent.com/148698/49259134-1db23700-f406-11e8-92f0-adf286261f66.png">

 See the diagnostic data:
[code]

[2018-11-30 06:49] angelozerr opened #242 "Show values in list for attribute value completion apply based on XML Schema/DTD"
When attribute value is linked to a list of values (from XML Schema), when completion is apply for the attribute value, it should be cool to open a second a popup completion to show this list values.

To implement this idea, we must generate snippet syntax like
https://github.com/Microsoft/language-server-protocol/blob/master/snippetSyntax.md#choice

[2018-11-30 08:36] angelozerr commented on #241
Fixed with test too

[2018-11-30 08:36] #241 closed

[2018-11-30 08:49] angelozerr commented on #239
It should be cool if this option could manage too the same feature than WTP:

![foo](https://user-images.githubusercontent.com/1932211/49278475-30b81c00-f485-11e8-8418-4bb22cb24569.gif)

[2018-11-30 13:42] fbricon commented on #239
Yes that's pretty cool. Need to make sure it only works if tag is empty

[2018-11-30 17:44] angelozerr opened #243 "Completion for DTD attribute, elements inside <!ELEMENT, <!ATTRIBUTE,"
Support for completion

 * for available elements:

[code]

[2018-11-30 17:48] angelozerr commented on #232
@fbricon it's basic but it starts working:
![dtdcompletion](https://user-images.githubusercontent.com/1932211/49305784-86fe7c80-f4d0-11e8-86a9-ad2e1e870dc5.gif)

[2018-11-30 18:33] angelozerr commented on #226
@fbricon I wanted to display attribute in hierarchy (I have coded that), but it seems teh hierarchy doesn't use the "containerName". It seems it uses location, so it's not possible to display attributes after a given element as a tree. That's why I display attribute with element@attribute label.

Any feedback are welcome!

[2018-11-30 18:41] fbricon commented on #226
do you have a new screenshot?

[2018-11-30 18:53] angelozerr commented on #226
I will do it if you wish, but you can try it. I have pushed my work.

[2018-11-30 18:54] fbricon commented on #226
Sorry I can't play with lsp4xml today

[2018-11-30 19:29] fbricon opened #244 "Ensure no tests are skipped"
Currently the maven build skips 12 tests:

This should be addressed. Either make them pass, or remove them

[2018-11-30 19:31] fbricon commented on #244
in case some tests still need to be skipped, they should have a comment explaining why, and also point to a matching github issue

[2018-11-30 20:34] adunning commented on #237
Sorry for the delayed response! That's an extremely kind offer; looking at the code, I don't think that I have sufficient skills with Java to write the entire thing, but I am certainly happy to test and help in any other way I can.

[2018-12-01 07:54] angelozerr commented on #244
I will check that @fbricon

[2018-12-01 14:58] angelozerr commented on #226
Here the result in vscode:

![image](https://user-images.githubusercontent.com/1932211/49329609-d2249800-f581-11e8-815b-c982bbc0e8f3.png)

Please note that you must use vscode-xml 0.2.0 to test it with lsp4xml from master because if https://github.com/redhat-developer/vscode-xml/issues/94

[2018-12-01 17:38] fbricon commented on #221
Formatting now breaks the document:
![broken-formatting](https://user-images.githubusercontent.com/148698/49331081-de9af780-f565-11e8-9fe5-f277e3cedd98.gif)
[code]

[2018-12-01 18:55] angelozerr commented on #209
@fbricon I don't know how to fix this issues, because it seems that it's a LSP issues.

Indeed in your case, you have 2 diagnostics "cvc-complex-type.4" with the same "code" (but for each missing attributes):

[code]

LSP call for each diangnostics a code action (you have 2 requesest) and the lsp4xml server returns a response per request.

An uggly fix that I have in my mind, is to generate only o

[2018-12-02 18:18] fbricon opened #245 "Return hover as Markdown"
Currently, hover returns documentation as text, meaning if the content is actual html, then the client doesn't render it in a user-friendly way. See a hover over the `<packaging>` element of a pom.xml:

<img width="560" alt="screen shot 2018-12-02 at 1 13 02 pm" src="https://user-images.githubusercontent.com/148698/49343276-3acc4d00-f634-11e8-9d11-5bbd2d3317a9.png">

We could probably transform th

[2018-12-02 18:24] fbricon opened #246 "No validation on xsi:nil values"
<img width="612" alt="screen shot 2018-12-02 at 1 21 46 pm" src="https://user-images.githubusercontent.com/148698/49343369-9d721880-f635-11e8-9979-4827ac6153a7.png">
Given the following snippet (I'm not sure it's actually valid or makes any sense at all):

[code]

`xsi:nil` valid values are `true`/`false`, yet there's no validation error here

[2018-12-02 18:28] fbricon opened #247 "No autocompletion on xsi:nil values"
Given the following snippet:
[code]
There's no autocompletion for `xsi:nil` values. I expect to see `true` and `false`

[2018-12-03 14:33] #242 closed

[2018-12-03 14:37] angelozerr commented on #106
@fbricon completion for element and attributes based on external DTD should work (with tests too). For internal DTD it doesn't work yet. Should we create an another issue for that?

[2018-12-04 16:23] fbricon commented on #246
Now that I think of it, we should add an actual schema for xsi, under the hood, so that'd provide completion, hover and validation support for xsi without having to do hard-code anything

[2018-12-04 16:33] fbricon opened #248 "Add a real schema for http://www.w3.org/2001/XMLSchema-instance"
as mentioned in https://github.com/angelozerr/lsp4xml/issues/246#issuecomment-444161649, adding a actual schema for http://www.w3.org/2001/XMLSchema-instance, would take care of:

- [ ] [completion](https://github.com/angelozerr/lsp4xml/issues/163) for [xsi:nil](https://github.com/angelozerr/lsp4xml/issues/247)
- [ ] [validation](https://github.com/angelozerr/lsp4xml/issues/246)
- [ ] [hover](http

[2018-12-04 16:50] fbricon commented on #248
http://www.w3.org/2001/XMLSchema-instance is actually a schema but we're not supposed to change anything apparently: https://www.w3.org/TR/xmlschema-1/#no-xsi

[2018-12-04 16:54] fbricon commented on #248
Interesting infos on SO: https://stackoverflow.com/questions/17094247/where-is-the-xsd-file-for-http-www-w3-org-2001-xmlschema-instance

[2018-12-04 20:58] #164 closed

[2018-12-04 21:02] fbricon commented on #247
true/false combo only shows right after autocompleting xsi:nil. Doesn't work in the example above

[2018-12-04 21:20] fbricon commented on #226
- The ordering is completely random, I'd expect it to follow either the alphabetical order, or positions, or elements then attlist, anything really. This is unsettling.
- atllist and elements should have different SymbolKinds, so they can be distinguished visually

[2018-12-04 22:04] fbricon opened #250 "Formatting removes DOCTYPE's public declaration"
Formatting this:
[code]

yields that:
[code]

[2018-12-04 22:39] #106 closed

[2018-12-04 22:40] angelozerr opened #251 "XML completion based on internal DTD"

[2018-12-05 00:18] angelozerr commented on #226
I think you have your Outline vscode sorted by type, no? Sort by location or name should fix your sort, no?

fixed.

I have written tests too, so if you think we can close this issue, close it. thanks.

[2018-12-05 00:20] angelozerr commented on #231
Scanner and parser supports now DTD tolerant parsing. I close this issue. If you find bugs, please create a new issue.

[2018-12-05 00:38] #204 closed

[2018-12-05 01:17] #218 closed

[2018-12-05 01:21] angelozerr opened #252 "Add support for `textDocument/codeLens` for XML DTD"
Use CodeLens to display before <!ELEMENT the number of <!ATTRLIST bound to the <!ELEMENT (X references)

[2018-12-05 06:48] fbricon commented on #225
@angelozerr what's the status on this one?

[2018-12-05 07:15] fbricon opened #253 "textDocument/documentSymbol should return DocumentSymbols if the client supports it"
DocumentSymbol is the [only way](https://github.com/Microsoft/language-server-protocol/blob/gh-pages/specification.md#document-symbols-request-leftwards_arrow_with_hook) to accurately represent a tree structure.

[2018-12-05 07:30] fbricon commented on #253
kinda relates to #226

[2018-12-05 08:03] jrieken commented on #226
what does "outline > ... > sort by" say?

[2018-12-05 08:10] angelozerr commented on #226
@fbricon as I tried to explain you and @jrieken suggest you, I think it's your preferences of your outline which is sorted by type I think:

![image](https://user-images.githubusercontent.com/1932211/49499153-8fa6d800-f86d-11e8-906c-2f9358f7d1b6.png)

[2018-12-05 08:17] angelozerr commented on #225
It starts working with <!ELEMENT which is broken. I need to support <!ATTRLIST and <!ENTITY broke.

But I think I will miss some errors again. My proposition is to support broke of <!ATTRLIST and <!ENTITY and close it. We will open a new issue if we will find another error not supported.

[2018-12-05 08:20] angelozerr commented on #250
@NikolasKomonen is there any chance that you work on this issue as you will work on DTD formatting https://github.com/angelozerr/lsp4xml/issues/221 ?

[2018-12-05 13:44] fbricon commented on #226
@angelozerr @jrieken ok it was sorted by type. Which I suspected. I completely overlooked that menu. It's just that the secondary sort seems unpredictable, but that looks like a VS Code thing.
Anyways, there's nothing more to do on the server side I think.

[2018-12-05 14:04] jrieken commented on #226
Yeah, we have issue for that on our end. 🤞 that we fix that next milestone...

[2018-12-05 14:17] fbricon commented on #143
I confirm this works. Do we have regression tests for that?

[2018-12-05 14:18] angelozerr commented on #143
No taht's why I have not closed it

[2018-12-05 14:37] #227 closed

[2018-12-05 14:40] dhuebner commented on #229
@fbricon Are you guys also plan to publish the `org.eclipse.lsp4xml-all.jar`   uber jar?

[2018-12-05 14:48] fbricon commented on #229
yes. I'll probably start manually pushing bits to bintray initially, as it's the simplest.

[2018-12-05 14:55] dhuebner commented on #229
@fbricon True...
An another question. What LSP4J version will be included? I saw you are using a 0.5.0 beta, maybe it would make sense to switch to the current 0.6.0 release?

[2018-12-05 15:01] fbricon commented on #229
@dhuebner please open a ticket for the lsp4j update

[2018-12-05 15:04] dhuebner opened #254 "Switch to lsp4j 0.6.0 release"
0.6.0 was released https://github.com/eclipse/lsp4j/releases/tag/v0.6.0

Eclipse artifacts are also available and are contributed to the current eclipse common repository (SimRel)

[2018-12-05 15:04] dhuebner commented on #229
Done: https://github.com/angelozerr/lsp4xml/issues/254

[2018-12-05 16:47] fbricon opened #256 "Sanitize the copyright headers"
we currently have a mix of EPL-1.0, EPL-2.0, no headers (maybe others) in the codebase. The project is advertised as EPL-2.0, so everything should be aligned.
We prolly need to add some checks to the Maven build that'll enforce proper copyright header policy.

[2018-12-05 17:45] angelozerr commented on #256
@fbricon could you do that? If yes, please tell me when you wish to do that because I need to push my work.

[2018-12-05 18:13] fbricon commented on #256
I'll look into it later. You can push your work for now

[2018-12-05 18:59] angelozerr commented on #256
Ok @fbricon. Please ping me when you wish to do that.

[2018-12-05 19:15] angelozerr commented on #251
@fbricon it should work now. I have written tests.

You can play with this XML:

 * completion with element:

[code]

 * completion with attribute:

[code]

Please note that completion works only if DTD must is not malformed (like external DTD)

Please close the issue if it works for you.

[2018-12-05 19:17] fbricon commented on #232
If I type `<`, select "internal entity", autocompletion inserts `<!ENTITY entity-name "entity-value" >`, so I end up with 2 opening brackets.
Also the placeholders order is wrong. the value is selected first, it should be the entity name

[2018-12-05 19:32] fbricon commented on #225
Given this snippet:
[code]
The diagnostic on `Likes` has the wrong range:
<img width="874" alt="screen shot 2018-12-05 at 2 32 18 pm" src="https://user-images.githubusercontent.com/148698/49538970-98fa6980-f89a-11e8-8652-81b2e8aaeccc.png">

[2018-12-05 19:35] fbricon commented on #225
Same snippet, but with some random value in `Friend`:
<img width="799" alt="screen shot 2018-12-05 at 2 34 19 pm" src="https://user-images.githubusercontent.com/148698/49539113-f393c580-f89a-11e8-9379-bfb7d1442d61.png">
[code]

[2018-12-05 19:38] fbricon commented on #225
Wrong attribute, underlines next attribute:
<img width="761" alt="screen shot 2018-12-05 at 2 37 13 pm" src="https://user-images.githubusercontent.com/148698/49539291-4f5e4e80-f89b-11e8-9b73-c01154c35322.png">

[code]

[2018-12-05 19:40] fbricon commented on #225
Unknown doctype node type:
<img width="1052" alt="screen shot 2018-12-05 at 2 39 44 pm" src="https://user-images.githubusercontent.com/148698/49539493-c4318880-f89b-11e8-84b7-ee002220ad8c.png">

<img width="1052" alt="screen shot 2018-12-05 at 2 39 44 pm" src="https://user-images.githubusercontent.com/148698/49539470-b845c680-f89b-11e8-8008-9b503493004f.png">

[2018-12-06 12:43] dhuebner opened #257 "Use root element for XMLClientSettings"
I'm about to add support for the lsp4xml in theia. In theia, when sending settings to a server, one or more roots can be selected (in my case it's `xml`). Doing so, all the `xml.*` setting will be send to the server wrapped by the root object.

[code]

The idea behind that is that the server may later rely on other client settings e.g. `http` to get the `proxy` settings, than you would just add a

[2018-12-06 12:53] dhuebner commented on #257
Related code in the vscode extension:

https://github.com/redhat-developer/vscode-xml/blob/d198be337e588f8217c3e9108cab21b3d74912e8/src/extension.ts#L95

[2018-12-06 13:52] dhuebner opened #260 "Add preference to enable/disable validation"
It would be nice to have a possibility to disable XML validation

[2018-12-06 13:54] fbricon commented on #260
You mean schema validation or also want to skip well-formedness checks?

[2018-12-06 14:06] dhuebner commented on #260
@fbricon The best would be to have both. At the moment, the most important is schema validation

[2018-12-06 16:47] angelozerr commented on #260
@dhuebner I'm aware to add an `enableValidation` preferences, but before I would like to understand why you need that?

[2018-12-06 16:48] angelozerr commented on #257
@fbricon what do you think about that?

[2018-12-06 17:09] fbricon commented on #257
@angelozerr I'm fine with that. That was actually what I expected from the server initially.

[2018-12-07 10:04] dhuebner commented on #260
@angelozerr Just my experience :)
There could be false positives or bugs in validation or you just expect a malformed xml (test cases).
E.g. if I run xml validator in eclipse for the org.eclipse.lsp4xml project it reports me over 120k errors

<img width="647" alt="bildschirmfoto 2018-12-07 um 11 02 31" src="https://user-images.githubusercontent.com/454322/49641183-bc92f080-fa0f-11e8-8870-8b5fa766f

[2018-12-07 15:45] angelozerr commented on #201
@fbricon is there any chance that you work on this issue? I'm very busy with DTD support issues.

[2018-12-07 15:46] fbricon commented on #201
@NikolasKomonen can look into it once he's done with his stuff

[2018-12-07 15:47] angelozerr commented on #201
Great! Thanks

[2018-12-07 15:55] angelozerr commented on #251
@fbricon could you play with feature and close it, if you think it's good for you. Thanks!

[2018-12-07 18:51] angelozerr commented on #253
@fbricon now DTD !ATTLIST should be appear as children of !ELEMENT:

![image](https://user-images.githubusercontent.com/1932211/49666762-5763ed00-fa59-11e8-98ca-636ebe3676bd.png)

Thanks a lot for having suggested me to support DocumentSymbol!

Needs writing test now.

[2018-12-09 11:14] angelozerr commented on #253
Test wad one, I close this issue.

[2018-12-09 11:14] #253 closed

[2018-12-10 15:43] fbricon commented on #226
Outline is still borked with this [dtd](http://www.cs.washington.edu/research/projects/xmltk/xmldata/data/nasa/dataset_053.dtd) :
<img width="1381" alt="screen shot 2018-12-10 at 10 39 34 am" src="https://user-images.githubusercontent.com/148698/49743150-21e11e80-fc68-11e8-8fe2-a85649eb6deb.png">

[2018-12-10 15:53] fbricon commented on #226
Also ATTLIST seem to be lost when elements have the same name, in  http://java.sun.com/dtd/web-app_2_3.dtd :

probably because it's the same symbol type

[2018-12-10 16:02] angelozerr commented on #226
@fbricon I think the problem is because XMLScanner is not enough tolerant. I hope @NikolasKomonen work in https://github.com/angelozerr/lsp4xml/pull/261 will improve that.

As I try to explain we need a really more tolerant parser. @NikolasKomonen it should be cool if you could see if your https://github.com/angelozerr/lsp4xml/pull/261 fixes the problem and otherwise try to fix it. If you have no

[2018-12-10 16:05] fbricon commented on #226
@angelozerr the dtd's are not malformed, so it's not (only) a matter of being fault tolerant or not.
I get the same problem when applying #261

[2018-12-10 16:08] angelozerr commented on #226
@fbricon it's because our parser desn't take care of possibility of ATTLIST parsing. The problem comes from

[code]

Our dtd parser consider that this ATTLIST is not valid (althoug it is valid). So we need 2 fixes:

 * the first fix is to become more tolerant (even if our parser cannot parsed it, it must not break the other content)
 * the second fix is to parse correctly this ATTLIST

[2018-12-10 16:08] fbricon commented on #226
Ok so now I see that ATTLIST are shown as children of ELEMENTs. So that's ok.

[2018-12-10 16:10] angelozerr commented on #226
In other words, it's not a problem with outline (XML DocumentSymbol provider), but a problem with XML Scanner. In other words it's the issue https://github.com/angelozerr/lsp4xml/issues/231

Outline shows the problem but it's not the outline which must be fixed, it's the XMLScanner (issue https://github.com/angelozerr/lsp4xml/issues/231)

[2018-12-10 20:53] angelozerr commented on #251
@fbricon please reopen it if you find bugs.

[2018-12-10 20:53] #251 closed

[2018-12-11 17:30] NikolasKomonen opened #262 "DTD ATTLIST symbol is displayed twice if it ocurrs before the ELEMENT that uses it."
Eg:

[code]

Will have a symbol outline looking like:
[code]

[2018-12-12 16:26] fbricon opened #263 "Formatter surrounds single-quoted attributes with double-quotes"
Formatting this
[code]

yields:
[code]
single quotes should be either  ignored/reused or replaced

[2018-12-12 16:44] NikolasKomonen commented on #263
@fbricon
How should formatting behave with a mix of single and double quotes,
should we preserve the type of quotation for each value?

And maybe this calls for a preference to determine which type of quotation.

[2018-12-12 17:49] angelozerr commented on #263
@NikolasKomonen I think we should store the field boolean `useDoubleQuote` in DOMAttr class (set by scanner). After the formatter could use it and we will able to manage mix of single and double quotes.

[2018-12-13 19:45] felixfbecker opened #264 "Errors with GXL schema"
I configured vscode-xml to use the GXL schema http://www.gupro.de/GXL/xmlschema/gxl-1.0.xsd for all `.gxl` files.

But when opening a GXL file, it gives a lot of errors:

![image](https://user-images.githubusercontent.com/10532611/49963297-d0f75180-ff17-11e8-9d23-622455250cd8.png)

And none of the code intelligence features work.

Here's an example file: http://www.gupro.de/GXL/examples/instance/g

[2018-12-13 19:56] fbricon commented on #264
have you tried with the [latest](http://download.jboss.org/jbosstools/vscode-xml/staging/?C=M;O=D) vscode-xml ci build?

[2018-12-13 19:56] felixfbecker commented on #264
No, I am using the marketplace version 0.2.0

[2018-12-13 19:59] felixfbecker commented on #264
Same errors with vscode-xml-0.3.0-671.vsix

[2018-12-13 20:06] fbricon commented on #264
have you succeeded in getting it to work in another IDE/editor? If yes, which one and how?

[2018-12-13 20:07] felixfbecker commented on #264
No, this is the first time I use this and the first IDE I tried (and have available that I know supports this...)

[2018-12-17 14:46] fbricon opened #265 "Document Symbols only returns the 1st ATTLIST value"
I found that multiple attlists in one declaration are not supported, so only the 1st attribute shows in the outline eg. [ant1.6.2.dtd](https://raw.githubusercontent.com/eclipse/eclipse.platform/master/ant/org.eclipse.ant.ui/Ant%20Editor/org/eclipse/ant/internal/ui/editor/ant1.6.2.dtd) (look at project, target):

<img width="1395" alt="screen shot 2018-12-16 at 11 05 40 pm" src="https://user-images

[2018-12-18 06:24] fbricon opened #266 "Server goes into an infinite loop when typing `<` in an empty dtd file"
Server goes into an infinite loop when typing `<` in an empty dtd file. jstack shows:

[code]

The issue is caused by:
https://github.com/angelozerr/lsp4xml/blob/f4e8319ba63c970277469ccd3115cd6c1f96c096/org.eclipse.lsp4xml/src/main/java/org/eclipse/lsp4xml/dom/DOMNode.java#L370-L378

when parent.isElement() returns false, it goes back into the loop but the parent value is not updated, so it contin

[2018-12-18 06:31] fbricon commented on #266
Yup it's fixed. Thanks @angelozerr

[2018-12-18 06:31] #266 closed

[2018-12-19 20:08] fbricon opened #267 "No <?xml completion in DTD files"
Open an empty dtd document, start typing `<?xm` there's no autocompletion, like for xml files